.notice {
    color: green;
    background-color: #e6ffe6;
    padding: 10px;
    border: 1px solid green;
    margin-bottom: 15px;
  }
  
  .error {
    color: red;
    background-color: #ffe6e6;
    padding: 10px;
    border: 1px solid red;
    margin-bottom: 15px;
  }
  