---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=National%20Tsing%20Hua%20University,%20Taiwan&key=<GOOGLE_TOKEN>&region=tw
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Hsinchu City
    body:
      encoding: UTF-8
      string: "{\n   \"results\" : \n   [\n      {\n         \"address_components\"
        : \n         [\n            {\n               \"long_name\" : \"101號\",\n
        \              \"short_name\" : \"101號\",\n               \"types\" : \n               [\n
        \                 \"street_number\"\n               ]\n            },\n            {\n
        \              \"long_name\" : \"Section 2, Guangfu Road\",\n               \"short_name\"
        : \"Section 2, Guangfu Rd\",\n               \"types\" : \n               [\n
        \                 \"route\"\n               ]\n            },\n            {\n
        \              \"long_name\" : \"光明里\",\n               \"short_name\" : \"光明里\",\n
        \          [...]
- request:
    method: get
    uri: https://plus.codes/api?address=National%20Tsing%20Hua%20University,%20Taiwan&key=<GOOGLE_TOKEN>
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Appengine-Log-Flush-Count:
      - '1'
      X-Cloud-Trace-Context:
      - af969b2d66bc77c1b0ee815aa75dbed4
    body:
      encoding: UTF-8
      string: |-
        {
          "plus_code": {
            "global_code": "7QP2QXWW+CM",
            "geometry": {
              "bounds": {
                "northeast": {
                  "lat": 24.796125000000004,
                  "lng": 120.99675000000002
                },
                "southwest": {
                  "lat": 24.796000000000006,
                  "lng": 120.996625
                }
              },
              "location": {
                "lat": 24.796062500000005,
                "lng": 120.99668750000001
              }
            },
            "local_code": "QXWW+CM",
            "locality": {
              "local_address": "Taiwan, 新竹市東區光明里"
            }
          },
          "status": "OK"
        }
  recorded_at: Wed, 04 Dec 2024 02:14:49 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=National%20Yang%20Ming%20Chiao%20Tung%20University,%20Taiwan&key=<GOOGLE_TOKEN>&region=tw
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Hsinchu City
    body:
      encoding: UTF-8
      string: "{\n   \"results\" : [...]
- request:
    method: get
    uri: https://plus.codes/api?address=National%20Yang%20Ming%20Chiao%20Tung%20University,%20Taiwan&key=<GOOGLE_TOKEN>
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Appengine-Log-Flush-Count:
      - '1'
      X-Cloud-Trace-Context:
      - 81ab95e3b08dc8325af070e02ba6b693
    body:
      encoding: UTF-8
      string: |-
        {
          "plus_code": {
            "global_code": "7QP2QXPW+QX",
            "geometry": {
              "bounds": {
                "northeast": {
                  "lat": 24.786999999999992,
                  "lng": 120.9975
                },
                "southwest": {
                  "lat": 24.786874999999995,
                  "lng": 120.99737499999998
                }
              },
              "location": {
                "lat": 24.786937499999993,
                "lng": 120.99743749999999
              }
            },
            "local_code": "QXPW+QX",
            "locality": {
              "local_address": "Taiwan, 新竹市東區光明里"
            }
          },
          "status": "OK"
        }
  recorded_at: Wed, 04 Dec 2024 02:14:49 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=RX2R%2B27%20%E5%85%89%E5%BE%A9%E9%87%8C%20Hsinchu%20City,%20East%20District&key=<GOOGLE_TOKEN>&mode=walking&origins=7QP2QXWW%2BCM&region=tw
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Hsinchu City
    body:
      encoding: UTF-8
      string: "{\n   \"destination_addresses\" : \n   [\n      \"300, Taiwan, 新竹市東區RX2R+27\"\n
        \  ],\n   \"origin_addresses\" : \n   [\n      \"QXWW+CM Taiwan, 新竹市東區光明里\"\n
        \  ],\n   \"rows\" : \n   [\n      {\n         \"elements\" : \n         [\n
        \           {\n               \"distance\" : \n               {\n                  \"text\"
        : \"0.8 km\",\n                  \"value\" : 843\n               },\n               \"duration\"
        : \n               {\n                  \"text\" : \"11 mins\",\n                  \"value\"
        : 665\n               },\n               \"status\" : \"OK\"\n            }\n
        \        ]\n      }\n   ],\n   \"status\" : \"OK\"\n}"
  recorded_at: Wed, 04 Dec 2024 02:14:50 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=QXWW%2BCM%20Taiwan,%20%E6%96%B0%E7%AB%B9%E5%B8%82%E6%9D%B1%E5%8D%80%E5%85%89%E6%98%8E%E9%87%8C&key=<GOOGLE_TOKEN>&region=tw
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Hsinchu City
    body:
      encoding: UTF-8
 [...]
- request:
    method: get
    uri: https://plus.codes/api?address=QXWW%2BCM%20Taiwan,%20%E6%96%B0%E7%AB%B9%E5%B8%82%E6%9D%B1%E5%8D%80%E5%85%89%E6%98%8E%E9%87%8C&key=<GOOGLE_TOKEN>
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Appengine-Log-Flush-Count:
      - '1'
      X-Cloud-Trace-Context:
      - a0d37b15992c18e713cf41978ba01074
    body:
      encoding: UTF-8
      string: |-
        {
          "plus_code": {
            "global_code": "7QP2QXWW+CM",
            "geometry": {
              "bounds": {
                "northeast": {
                  "lat": 24.796125000000004,
                  "lng": 120.99675000000002
                },
                "southwest": {
                  "lat": 24.796000000000006,
                  "lng": 120.996625
                }
              },
              "location": {
                "lat": 24.796062500000005,
                "lng": 120.99668750000001
              }
            },
            "local_code": "QXWW+CM",
            "locality": {
              "local_address": "Taiwan, 新竹市東區光明里"
            }
          },
          "status": "OK"
        }
  recorded_at: Wed, 04 Dec 2024 02:14:50 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=300,%20Taiwan,%20%E6%96%B0%E7%AB%B9%E5%B8%82%E6%9D%B1%E5%8D%80RX2R%2B27&key=<GOOGLE_TOKEN>&region=tw
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Hsinchu City
    body:
      encoding: UTF-8
      string: "{\n   \"r[...]
- request:
    method: get
    uri: https://plus.codes/api?address=300,%20Taiwan,%20%E6%96%B0%E7%AB%B9%E5%B8%82%E6%9D%B1%E5%8D%80RX2R%2B27&key=<GOOGLE_TOKEN>
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Appengine-Log-Flush-Count:
      - '1'
      X-Cloud-Trace-Context:
      - 56e740bc22a56eca158980a9e2483bbb
    body:
      encoding: UTF-8
      string: |-
        {
          "plus_code": {
            "global_code": "7QP2RX2R+27",
            "geometry": {
              "bounds": {
                "northeast": {
                  "lat": 24.800124999999994,
                  "lng": 120.99075000000005
                },
                "southwest": {
                  "lat": 24.799999999999997,
                  "lng": 120.99062500000002
                }
              },
              "location": {
                "lat": 24.800062499999996,
                "lng": 120.99068750000004
              }
            },
            "local_code": "RX2R+27",
            "locality": {
              "local_address": "Taiwan, 新竹市東區光復里"
            }
          },
          "status": "OK"
        }
  recorded_at: Wed, 04 Dec 2024 02:14:51 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=QXXV%2B9J%20%E5%85%89%E6%98%8E%E9%87%8C%20Hsinchu%20City,%20East%20District&key=<GOOGLE_TOKEN>&mode=driving&origins=RX2R%2B27%20%E5%85%89%E5%BE%A9%E9%87%8C%20Hsinchu%20City,%20East%20District&region=tw
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Hsinchu City
    body:
      encoding: UTF-8
      string: "{\n   \"destination_addresses\" : \n   [\n      \"300, Taiwan, 新竹市東區QXXV+9J\"\n
        \  ],\n   \"origin_addresses\" : \n   [\n      \"300, Taiwan, 新竹市東區RX2R+27\"\n
        \  ],\n   \"rows\" : \n   [\n      {\n         \"elements\" : \n         [\n
        \           {\n               \"distance\" : \n               {\n                  \"text\"
        : \"1.2 km\",\n                  \"value\" : 1184\n               },\n               \"duration\"
        : \n               {\n                  \"text\" : \"3 mins\",\n                  \"value\"
        : 195\n               },\n               \"status\" : \"OK\"\n            }\n
        \        ]\n      }\n   ],\n   \"status\" : \"OK\"\n}"
  recorded_at: Wed, 04 Dec 2024 02:14:51 GMT
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=300,%20Taiwan,%20%E6%96%B0%E7%AB%B9%E5%B8%82%E6%9D%B1%E5%8D%80QXXV%2B9J&key=<GOOGLE_TOKEN>&region=tw
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Hsinchu City
    body:
      encoding: UTF-8
      string: "{\n   \"r[...]
- request:
    method: get
    uri: https://plus.codes/api?address=300,%20Taiwan,%20%E6%96%B0%E7%AB%B9%E5%B8%82%E6%9D%B1%E5%8D%80QXXV%2B9J&key=<GOOGLE_TOKEN>
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Appengine-Log-Flush-Count:
      - '1'
      X-Cloud-Trace-Context:
      - 2917965becb0b97d1aef322ae7f07563
    body:
      encoding: UTF-8
      string: |-
        {
          "plus_code": {
            "global_code": "7QP2QXXV+9J",
            "geometry": {
              "bounds": {
                "northeast": {
                  "lat": 24.79849999999999,
                  "lng": 120.99412500000005
                },
                "southwest": {
                  "lat": 24.798374999999993,
                  "lng": 120.99400000000003
                }
              },
              "location": {
                "lat": 24.79843749999999,
                "lng": 120.99406250000004
              }
            },
            "local_code": "QXXV+9J",
            "locality": {
              "local_address": "Taiwan, 新竹市東區光明里"
            }
          },
          "status": "OK"
        }
  recorded_at: Wed, 04 Dec 2024 02:14:52 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=7QP2QXPW%2BQX&key=<GOOGLE_TOKEN>&mode=walking&origins=RX2R%2B27%20%E5%85%89%E5%BE%A9%E9%87%8C%20Hsinchu%20City,%20East%20District&region=tw
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Hsinchu City
    body:
      encoding: UTF-8
      string: "{\n   \"destination_addresses\" : \n   [\n      \"QXPW+QX Taiwan, 新竹市東區光明里\"\n
        \  ],\n   \"origin_addresses\" : \n   [\n      \"300, Taiwan, 新竹市東區RX2R+27\"\n
        \  ],\n   \"rows\" : \n   [\n      {\n         \"elements\" : \n         [\n
        \           {\n               \"distance\" : \n               {\n                  \"text\"
        : \"2.2 km\",\n                  \"value\" : 2161\n               },\n               \"duration\"
        : \n               {\n                  \"text\" : \"33 mins\",\n                  \"value\"
        : 1951\n               },\n               \"status\" : \"OK\"\n            }\n
        \        ]\n      }\n   ],\n   \"status\" : \"OK\"\n}"
  recorded_at: Wed, 04 Dec 2024 02:14:52 GMT
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=QXPW%2BQX%20Taiwan,%20%E6%96%B0%E7%AB%B9%E5%B8%82%E6%9D%B1%E5%8D%80%E5%85%89%E6%98%8E%E9%87%8C&key=<GOOGLE_TOKEN>&region=tw
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Hsinchu City
    body:
      encoding: UTF-8
 [...]
- request:
    method: get
    uri: https://plus.codes/api?address=QXPW%2BQX%20Taiwan,%20%E6%96%B0%E7%AB%B9%E5%B8%82%E6%9D%B1%E5%8D%80%E5%85%89%E6%98%8E%E9%87%8C&key=<GOOGLE_TOKEN>
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Appengine-Log-Flush-Count:
      - '1'
      X-Cloud-Trace-Context:
      - fce6d92b15f7b4e85c6b322feeaa3570
    body:
      encoding: UTF-8
      string: |-
        {
          "plus_code": {
            "global_code": "7QP2QXPW+QX",
            "geometry": {
              "bounds": {
                "northeast": {
                  "lat": 24.786999999999992,
                  "lng": 120.9975
                },
                "southwest": {
                  "lat": 24.786874999999995,
                  "lng": 120.99737499999998
                }
              },
              "location": {
                "lat": 24.786937499999993,
                "lng": 120.99743749999999
              }
            },
            "local_code": "QXPW+QX",
            "locality": {
              "local_address": "Taiwan, 新竹市東區光明里"
            }
          },
          "status": "OK"
        }
  recorded_at: Wed, 04 Dec 2024 02:14:53 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=QXRR%2BQW6%20%E5%85%89%E6%98%8E%E9%87%8C%20Hsinchu%20City,%20East%20District&key=<GOOGLE_TOKEN>&mode=walking&origins=7QP2QXWW%2BCM&region=tw
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Hsinchu City
    body:
      encoding: UTF-8
      string: "{\n   \"destination_addresses\" : \n   [\n      \"300, Taiwan, 新竹市東區QXRR+QW6\"\n
        \  ],\n   \"origin_addresses\" : \n   [\n      \"QXWW+CM Taiwan, 新竹市東區光明里\"\n
        \  ],\n   \"rows\" : \n   [\n      {\n         \"elements\" : \n         [\n
        \           {\n               \"distance\" : \n               {\n                  \"text\"
        : \"0.7 km\",\n                  \"value\" : 688\n               },\n               \"duration\"
        : \n               {\n                  \"text\" : \"10 mins\",\n                  \"value\"
        : 592\n               },\n               \"status\" : \"OK\"\n            }\n
        \        ]\n      }\n   ],\n   \"status\" : \"OK\"\n}"
  recorded_at: Wed, 18 Dec 2024 08:05:28 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=QXVV%2BMGC%20%E5%85%89%E6%98%8E%E9%87%8C%20Hsinchu%20City,%20East%20District&key=<GOOGLE_TOKEN>&mode=walking&origins=7QP2QXWW%2BCM&region=tw
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Hsinchu City
    body:
      encoding: UTF-8
      string: "{\n   \"destination_addresses\" : \n   [\n      \"300, Taiwan, 新竹市東區QXVV+MGC\"\n
        \  ],\n   \"origin_addresses\" : \n   [\n      \"QXWW+CM Taiwan, 新竹市東區光明里\"\n
        \  ],\n   \"rows\" : \n   [\n      {\n         \"elements\" : \n         [\n
        \           {\n               \"distance\" : \n               {\n                  \"text\"
        : \"0.4 km\",\n                  \"value\" : 380\n               },\n               \"duration\"
        : \n               {\n                  \"text\" : \"5 mins\",\n                  \"value\"
        : 327\n               },\n               \"status\" : \"OK\"\n            }\n
        \        ]\n      }\n   ],\n   \"status\" : \"OK\"\n}"
  recorded_at: Wed, 18 Dec 2024 08:05:28 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=QXWW%2B9G4%20%E5%85%89%E6%98%8E%E9%87%8C%20Hsinchu%20City,%20East%20District&key=<GOOGLE_TOKEN>&mode=walking&origins=7QP2QXWW%2BCM&region=tw
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Hsinchu City
    body:
      encoding: UTF-8
      string: "{\n   \"destination_addresses\" : \n   [\n      \"300, Taiwan, 新竹市東區QXWW+9G4\"\n
        \  ],\n   \"origin_addresses\" : \n   [\n      \"QXWW+CM Taiwan, 新竹市東區光明里\"\n
        \  ],\n   \"rows\" : \n   [\n      {\n         \"elements\" : \n         [\n
        \           {\n               \"distance\" : \n               {\n                  \"text\"
        : \"38 m\",\n                  \"value\" : 38\n               },\n               \"duration\"
        : \n               {\n                  \"text\" : \"1 min\",\n                  \"value\"
        : 32\n               },\n               \"status\" : \"OK\"\n            }\n
        \        ]\n      }\n   ],\n   \"status\" : \"OK\"\n}"
  recorded_at: Wed, 18 Dec 2024 08:05:28 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=300,%20Taiwan,%20%E6%96%B0%E7%AB%B9%E5%B8%82%E6%9D%B1%E5%8D%80QXRR%2BQW6&key=<GOOGLE_TOKEN>&region=tw
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Hsinchu City
    body:
      encoding: UTF-8
      string: "{\n   \"[...]
[...]
- request:
    method: get
    uri: https://plus.codes/api?address=300,%20Taiwan,%20%E6%96%B0%E7%AB%B9%E5%B8%82%E6%9D%B1%E5%8D%80QXRR%2BQW6&key=<GOOGLE_TOKEN>
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Appengine-Log-Flush-Count:
      - '1'
      X-Cloud-Trace-Context:
      - fcd973cd9ce0f5ee6215f683bf83e176
    body:
      encoding: UTF-8
      string: |-
        {
          "plus_code": {
            "global_code": "7QP2QXRR+QW",
            "geometry": {
              "bounds": {
                "northeast": {
                  "lat": 24.792,
                  "lng": 120.99237500000004
                },
                "southwest": {
                  "lat": 24.791875000000005,
                  "lng": 120.99225000000001
                }
              },
              "location": {
                "lat": 24.791937500000003,
                "lng": 120.99231250000003
              }
            },
            "local_code": "QXRR+QW",
            "locality": {
              "local_address": "Taiwan, 新竹市東區光明里"
            }
          },
          "status": "OK"
        }
  recorded_at: Wed, 18 Dec 2024 08:05:29 GMT
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=QXQR%2B8X8%20%E5%85%89%E6%98%8E%E9%87%8C%20Hsinchu%20City,%20East%20District&key=<GOOGLE_TOKEN>&mode=driving&origins=QXRR%2BQW6%20%E5%85%89%E6%98%8E%E9%87%8C%20Hsinchu%20City,%20East%20District&region=tw
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Hsinchu City
    body:
      encoding: UTF-8
      string: "{\n   \"destination_addresses\" : \n   [\n      \"300, Taiwan, 新竹市東區QXQR+8X8\"\n
        \  ],\n   \"origin_addresses\" : \n   [\n      \"300, Taiwan, 新竹市東區QXRR+QW6\"\n
        \  ],\n   \"rows\" : \n   [\n      {\n         \"elements\" : \n         [\n
        \           {\n               \"distance\" : \n               {\n                  \"text\"
        : \"0.4 km\",\n                  \"value\" : 413\n               },\n               \"duration\"
        : \n               {\n                  \"text\" : \"1 min\",\n                  \"value\"
        : 70\n               },\n               \"status\" : \"OK\"\n            }\n
        \        ]\n      }\n   ],\n   \"status\" : \"OK\"\n}"
  recorded_at: Wed, 18 Dec 2024 08:05:29 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=300,%20Taiwan,%20%E6%96%B0%E7%AB%B9%E5%B8%82%E6%9D%B1%E5%8D%80QXVV%2BMGC&key=<GOOGLE_TOKEN>&region=tw
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Hsinchu City
    body:
      encoding: UTF-8
      string: "{\n   \"[...]
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=300,%20Taiwan,%20%E6%96%B0%E7%AB%B9%E5%B8%82%E6%9D%B1%E5%8D%80QXWW%2B9G4&key=<GOOGLE_TOKEN>&region=tw
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Hsinchu City
    body:
      encoding: UTF-8
      string: "{\n   \"[...]
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=300,%20Taiwan,%20%E6%96%B0%E7%AB%B9%E5%B8%82%E6%9D%B1%E5%8D%80QXQR%2B8X8&key=<GOOGLE_TOKEN>&region=tw
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Hsinchu City
    body:
      encoding: UTF-8
      string: "{\n   \"[...]
- request:
    method: get
    uri: https://plus.codes/api?address=300,%20Taiwan,%20%E6%96%B0%E7%AB%B9%E5%B8%82%E6%9D%B1%E5%8D%80QXVV%2BMGC&key=<GOOGLE_TOKEN>
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Appengine-Log-Flush-Count:
      - '1'
      X-Cloud-Trace-Context:
      - f199bb2ec0806e524cd108809e4797df
    body:
      encoding: UTF-8
      string: |-
        {
          "plus_code": {
            "global_code": "7QP2QXVV+MG",
            "geometry": {
              "bounds": {
                "northeast": {
                  "lat": 24.794250000000005,
                  "lng": 120.99387500000006
                },
                "southwest": {
                  "lat": 24.794125000000008,
                  "lng": 120.99375000000003
                }
              },
              "location": {
                "lat": 24.794187500000007,
                "lng": 120.99381250000005
              }
            },
            "local_code": "QXVV+MG",
            "locality": {
              "local_address": "Taiwan, 新竹市東區光明里"
            }
          },
          "status": "OK"
        }
  recorded_at: Wed, 18 Dec 2024 08:05:29 GMT
- request:
    method: get
    uri: https://plus.codes/api?address=300,%20Taiwan,%20%E6%96%B0%E7%AB%B9%E5%B8%82%E6%9D%B1%E5%8D%80QXWW%2B9G4&key=<GOOGLE_TOKEN>
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Appengine-Log-Flush-Count:
      - '1'
      X-Cloud-Trace-Context:
      - '09dc3c06e75a0820e5020465cc315c50'
    body:
      encoding: UTF-8
      string: |-
        {
          "plus_code": {
            "global_code": "7QP2QXWW+9G",
            "geometry": {
              "bounds": {
                "northeast": {
                  "lat": 24.795999999999992,
                  "lng": 120.99637500000006
                },
                "southwest": {
                  "lat": 24.795874999999995,
                  "lng": 120.99625000000003
                }
              },
              "location": {
                "lat": 24.795937499999994,
                "lng": 120.99631250000004
              }
            },
            "local_code": "QXWW+9G",
            "locality": {
              "local_address": "Taiwan, 新竹市東區光明里"
            }
          },
          "status": "OK"
        }
  recorded_at: Wed, 18 Dec 2024 08:05:29 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=QXQR%2B8X8%20%E5%85%89%E6%98%8E%E9%87%8C%20Hsinchu%20City,%20East%20District&key=<GOOGLE_TOKEN>&mode=driving&origins=QXWW%2B9G4%20%E5%85%89%E6%98%8E%E9%87%8C%20Hsinchu%20City,%20East%20District&region=tw
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Hsinchu City
    body:
      encoding: UTF-8
      string: "{\n   \"destination_addresses\" : \n   [\n      \"300, Taiwan, 新竹市東區QXQR+8X8\"\n
        \  ],\n   \"origin_addresses\" : \n   [\n      \"300, Taiwan, 新竹市東區QXWW+9G4\"\n
        \  ],\n   \"rows\" : \n   [\n      {\n         \"elements\" : \n         [\n
        \           {\n               \"distance\" : \n               {\n                  \"text\"
        : \"1.1 km\",\n                  \"value\" : 1061\n               },\n               \"duration\"
        : \n               {\n                  \"text\" : \"3 mins\",\n                  \"value\"
        : 192\n               },\n               \"status\" : \"OK\"\n            }\n
        \        ]\n      }\n   ],\n   \"status\" : \"OK\"\n}"
  recorded_at: Wed, 18 Dec 2024 08:05:29 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=QXQR%2B8X8%20%E5%85%89%E6%98%8E%E9%87%8C%20Hsinchu%20City,%20East%20District&key=<GOOGLE_TOKEN>&mode=driving&origins=QXVV%2BMGC%20%E5%85%89%E6%98%8E%E9%87%8C%20Hsinchu%20City,%20East%20District&region=tw
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Hsinchu City
    body:
      encoding: UTF-8
      string: "{\n   \"destination_addresses\" : \n   [\n      \"300, Taiwan, 新竹市東區QXQR+8X8\"\n
        \  ],\n   \"origin_addresses\" : \n   [\n      \"300, Taiwan, 新竹市東區QXVV+MGC\"\n
        \  ],\n   \"rows\" : \n   [\n      {\n         \"elements\" : \n         [\n
        \           {\n               \"distance\" : \n               {\n                  \"text\"
        : \"0.7 km\",\n                  \"value\" : 720\n               },\n               \"duration\"
        : \n               {\n                  \"text\" : \"2 mins\",\n                  \"value\"
        : 128\n               },\n               \"status\" : \"OK\"\n            }\n
        \        ]\n      }\n   ],\n   \"status\" : \"OK\"\n}"
  recorded_at: Wed, 18 Dec 2024 08:05:29 GMT
[...]
- request:
    method: get
    uri: https://plus.codes/api?address=300,%20Taiwan,%20%E6%96%B0%E7%AB%B9%E5%B8%82%E6%9D%B1%E5%8D%80QXQR%2B8X8&key=<GOOGLE_TOKEN>
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Appengine-Log-Flush-Count:
      - '1'
      X-Cloud-Trace-Context:
      - 666dc54d9155186ab7bb31e4cb39f7d7
    body:
      encoding: UTF-8
      string: |-
        {
[...]
