---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=taipei&key=<GOOGLE_TOKEN>&region=tw
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Taipei
    body:
      encoding: UTF-8
      string: "{\n   \"results\" : \n   [\n      {\n         \"address_components\"
        : \n         [\n            {\n               \"long_name\" : \"Taipei\",\n
        \              \"short_name\" : \"Taipei\",\n               \"types\" : \n
        \              [\n                  \"colloquial_area\",\n                  \"locality\",\n
        \                 \"political\"\n               ]\n            },\n            {\n
        \              \"long_name\" : \"Taiwan\",\n               \"short_name\"
        : \"TW\",\n               \"types\" : \n               [\n                  \"country\",\n
        \                 \"political\"\n               ]\n            }\n         ],\n
        \        \"formatted_address\" : \"Taipei, Taiwan\",\n         \"geometry\"
        : \n         {\n            \"bounds\" : \n            {\n               \"northeast\"
        : \n               {\n                  \"lat\" : 25.2443731,\n                  \"lng\"
        : 121.7300824\n               },\n               \"southwest\" : \n               {\n
        \                 \"lat\" : 24.7900797,\n                  \"lng\" : 121.2826735\n
        \              }\n            },\n            \"location\" : \n            {\n
        \              \"lat\" : 25.0329694,\n               \"lng\" : 121.5654177\n
        \           },\n            \"location_type\" : \"APPROXIMATE\",\n            \"viewport\"
        : \n            {\n               \"northeast\" : \n               {\n                  \"lat\"
        : 25.2443731,\n                  \"lng\" : 121.7300824\n               },\n
        \              \"southwest\" : \n               {\n                  \"lat\"
        : 24.7900797,\n                  \"lng\" : 121.2826735\n               }\n
        \           }\n         },\n         \"place_id\" : \"ChIJmQrivHKsQjQR4MIK3c41aj8\",\n
        \        \"types\" : \n         [\n            \"colloquial_area\",\n            \"locality\",\n
        \           \"political\"\n         ]\n      }\n   ],\n   \"status\" : \"OK\"\n}"
  recorded_at: Sun, 24 Nov 2024 12:54:55 GMT
- request:
    method: get
    uri: https://plus.codes/api?address=taipei&key=<GOOGLE_TOKEN>
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Appengine-Log-Flush-Count:
      - '1'
      X-Cloud-Trace-Context:
      - 4326965dfe4622dce6bf8838e4ab185d
    body:
      encoding: UTF-8
      string: |-
        {
          "plus_code": {
            "global_code": "7QQ32H00+",
            "geometry": {
              "bounds": {
                "northeast": {
                  "lat": 25.049999999999997,
                  "lng": 121.60000000000002
                },
                "southwest": {
                  "lat": 25,
                  "lng": 121.55000000000001
                }
              },
              "location": {
                "lat": 25.025,
                "lng": 121.57500000000002
              }
            },
            "locality": {}
          },
          "status": "OK"
        }
  recorded_at: Sun, 24 Nov 2024 12:54:56 GMT
recorded_with: VCR 6.3.1
