---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=National%20Tsing%20Hua%20University,%20Taiwan&key=<GOOGLE_TOKEN>&region=tw
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Hsinchu City
    body:
      encoding: UTF-8
      string: "{\n   \"results\" : \n   [\n      {\n         \"address_components\"
        : \n         [\n            {\n               \"long_name\" : \"101號\",\n
        \              \"short_name\" : \"101號\",\n               \"types\" : \n               [\n
        \                 \"street_number\"\n               ]\n            },\n            {\n
        \              \"long_name\" : \"Section 2, Guangfu Road\",\n               \"short_name\"
        : \"Section 2, Guangfu Rd\",\n               \"types\" : \n               [\n
        \                 \"route\"\n               ]\n            },\n            {\n
        \              \"long_name\" : \"光明里\",\n               \"short_name\" : \"光明里\",\n
        \          [...]
- request:
    method: get
    uri: https://plus.codes/api?address=National%20Tsing%20Hua%20University,%20Taiwan&key=<GOOGLE_TOKEN>
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Appengine-Log-Flush-Count:
      - '1'
      X-Cloud-Trace-Context:
      - 6e639b20364e03a9b1b19b13b74caa90
    body:
      encoding: UTF-8
      string: |-
        {
          "plus_code": {
            "global_code": "7QP2QXWW+CM",
            "geometry": {
              "bounds": {
                "northeast": {
                  "lat": 24.796125000000004,
                  "lng": 120.99675000000002
                },
                "southwest": {
                  "lat": 24.796000000000006,
                  "lng": 120.996625
                }
              },
              "location": {
                "lat": 24.796062500000005,
                "lng": 120.99668750000001
              }
            },
            "local_code": "QXWW+CM",
            "locality": {
              "local_address": "Taiwan, 新竹市東區光明里"
            }
          },
          "status": "OK"
        }
  recorded_at: Tue, 03 Dec 2024 16:22:19 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=National%20Yang%20Ming%20Chiao%20Tung%20University,%20Taiwan&key=<GOOGLE_TOKEN>&region=tw
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Hsinchu City
    body:
      encoding: UTF-8
      string: "{\n   \"results\" : [...]
- request:
    method: get
    uri: https://plus.codes/api?address=National%20Yang%20Ming%20Chiao%20Tung%20University,%20Taiwan&key=<GOOGLE_TOKEN>
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Appengine-Log-Flush-Count:
      - '1'
      X-Cloud-Trace-Context:
      - 68f4f3a523acb2e44c78107f5af5d67e
    body:
      encoding: UTF-8
      string: |-
        {
          "plus_code": {
            "global_code": "7QP2QXPW+QX",
            "geometry": {
              "bounds": {
                "northeast": {
                  "lat": 24.786999999999992,
                  "lng": 120.9975
                },
                "southwest": {
                  "lat": 24.786874999999995,
                  "lng": 120.99737499999998
                }
              },
              "location": {
                "lat": 24.786937499999993,
                "lng": 120.99743749999999
              }
            },
            "local_code": "QXPW+QX",
            "locality": {
              "local_address": "Taiwan, 新竹市東區光明里"
            }
          },
          "status": "OK"
        }
  recorded_at: Tue, 03 Dec 2024 16:22:20 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=RX2R%2B27%20%E5%85%89%E5%BE%A9%E9%87%8C%20Hsinchu%20City,%20East%20District&key=<GOOGLE_TOKEN>&mode=walking&origins=7QP2QXWW%2BCM&region=tw
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Hsinchu City
    body:
      encoding: UTF-8
      string: "{\n   \"destination_addresses\" : \n   [\n      \"300, Taiwan, 新竹市東區RX2R+27\"\n
        \  ],\n   \"origin_addresses\" : \n   [\n      \"QXWW+CM Taiwan, 新竹市東區光明里\"\n
        \  ],\n   \"rows\" : \n   [\n      {\n         \"elements\" : \n         [\n
        \           {\n               \"distance\" : \n               {\n                  \"text\"
        : \"0.8 km\",\n                  \"value\" : 843\n               },\n               \"duration\"
        : \n               {\n                  \"text\" : \"11 mins\",\n                  \"value\"
        : 665\n               },\n               \"status\" : \"OK\"\n            }\n
        \        ]\n      }\n   ],\n   \"status\" : \"OK\"\n}"
  recorded_at: Tue, 03 Dec 2024 16:22:20 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=QXWW%2BCM%20Taiwan,%20%E6%96%B0%E7%AB%B9%E5%B8%82%E6%9D%B1%E5%8D%80%E5%85%89%E6%98%8E%E9%87%8C&key=<GOOGLE_TOKEN>&region=tw
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Hsinchu City
    body:
      encoding: UTF-8
 [...]
- request:
    method: get
    uri: https://plus.codes/api?address=QXWW%2BCM%20Taiwan,%20%E6%96%B0%E7%AB%B9%E5%B8%82%E6%9D%B1%E5%8D%80%E5%85%89%E6%98%8E%E9%87%8C&key=<GOOGLE_TOKEN>
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Appengine-Log-Flush-Count:
      - '1'
      X-Cloud-Trace-Context:
      - e03b428ac51e78024aef1a1e3ad8c3ee
    body:
      encoding: UTF-8
      string: |-
        {
          "plus_code": {
            "global_code": "7QP2QXWW+CM",
            "geometry": {
              "bounds": {
                "northeast": {
                  "lat": 24.796125000000004,
                  "lng": 120.99675000000002
                },
                "southwest": {
                  "lat": 24.796000000000006,
                  "lng": 120.996625
                }
              },
              "location": {
                "lat": 24.796062500000005,
                "lng": 120.99668750000001
              }
            },
            "local_code": "QXWW+CM",
            "locality": {
              "local_address": "Taiwan, 新竹市東區光明里"
            }
          },
          "status": "OK"
        }
  recorded_at: Tue, 03 Dec 2024 16:22:20 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=300,%20Taiwan,%20%E6%96%B0%E7%AB%B9%E5%B8%82%E6%9D%B1%E5%8D%80RX2R%2B27&key=<GOOGLE_TOKEN>&region=tw
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Hsinchu City
    body:
      encoding: UTF-8
      string: "{\n   \"r[...]
- request:
    method: get
    uri: https://plus.codes/api?address=300,%20Taiwan,%20%E6%96%B0%E7%AB%B9%E5%B8%82%E6%9D%B1%E5%8D%80RX2R%2B27&key=<GOOGLE_TOKEN>
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Appengine-Log-Flush-Count:
      - '1'
      X-Cloud-Trace-Context:
      - 364a13395f27b78f604ac2c22d04009f
    body:
      encoding: UTF-8
      string: |-
        {
          "plus_code": {
            "global_code": "7QP2RX2R+27",
            "geometry": {
              "bounds": {
                "northeast": {
                  "lat": 24.800124999999994,
                  "lng": 120.99075000000005
                },
                "southwest": {
                  "lat": 24.799999999999997,
                  "lng": 120.99062500000002
                }
              },
              "location": {
                "lat": 24.800062499999996,
                "lng": 120.99068750000004
              }
            },
            "local_code": "RX2R+27",
            "locality": {
              "local_address": "Taiwan, 新竹市東區光復里"
            }
          },
          "status": "OK"
        }
  recorded_at: Tue, 03 Dec 2024 16:22:21 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=QXXV%2B9J%20%E5%85%89%E6%98%8E%E9%87%8C%20Hsinchu%20City,%20East%20District&key=<GOOGLE_TOKEN>&mode=driving&origins=RX2R%2B27%20%E5%85%89%E5%BE%A9%E9%87%8C%20Hsinchu%20City,%20East%20District&region=tw
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Hsinchu City
    body:
      encoding: UTF-8
      string: "{\n   \"destination_addresses\" : \n   [\n      \"300, Taiwan, 新竹市東區QXXV+9J\"\n
        \  ],\n   \"origin_addresses\" : \n   [\n      \"300, Taiwan, 新竹市東區RX2R+27\"\n
        \  ],\n   \"rows\" : \n   [\n      {\n         \"elements\" : \n         [\n
        \           {\n               \"distance\" : \n               {\n                  \"text\"
        : \"1.2 km\",\n                  \"value\" : 1184\n               },\n               \"duration\"
        : \n               {\n                  \"text\" : \"3 mins\",\n                  \"value\"
        : 195\n               },\n               \"status\" : \"OK\"\n            }\n
        \        ]\n      }\n   ],\n   \"status\" : \"OK\"\n}"
  recorded_at: Tue, 03 Dec 2024 16:22:21 GMT
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=300,%20Taiwan,%20%E6%96%B0%E7%AB%B9%E5%B8%82%E6%9D%B1%E5%8D%80QXXV%2B9J&key=<GOOGLE_TOKEN>&region=tw
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Hsinchu City
    body:
      encoding: UTF-8
      string: "{\n   \"r[...]
- request:
    method: get
    uri: https://plus.codes/api?address=300,%20Taiwan,%20%E6%96%B0%E7%AB%B9%E5%B8%82%E6%9D%B1%E5%8D%80QXXV%2B9J&key=<GOOGLE_TOKEN>
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Appengine-Log-Flush-Count:
      - '1'
      X-Cloud-Trace-Context:
      - 18b227ba4a9f9a8b2e258398bcf35eba
    body:
      encoding: UTF-8
      string: |-
        {
          "plus_code": {
            "global_code": "7QP2QXXV+9J",
            "geometry": {
              "bounds": {
                "northeast": {
                  "lat": 24.79849999999999,
                  "lng": 120.99412500000005
                },
                "southwest": {
                  "lat": 24.798374999999993,
                  "lng": 120.99400000000003
                }
              },
              "location": {
                "lat": 24.79843749999999,
                "lng": 120.99406250000004
              }
            },
            "local_code": "QXXV+9J",
            "locality": {
              "local_address": "Taiwan, 新竹市東區光明里"
            }
          },
          "status": "OK"
        }
  recorded_at: Tue, 03 Dec 2024 16:22:22 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=7QP2QXPW%2BQX&key=<GOOGLE_TOKEN>&mode=walking&origins=RX2R%2B27%20%E5%85%89%E5%BE%A9%E9%87%8C%20Hsinchu%20City,%20East%20District&region=tw
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Hsinchu City
    body:
      encoding: UTF-8
      string: "{\n   \"destination_addresses\" : \n   [\n      \"QXPW+QX Taiwan, 新竹市東區光明里\"\n
        \  ],\n   \"origin_addresses\" : \n   [\n      \"300, Taiwan, 新竹市東區RX2R+27\"\n
        \  ],\n   \"rows\" : \n   [\n      {\n         \"elements\" : \n         [\n
        \           {\n               \"distance\" : \n               {\n                  \"text\"
        : \"2.2 km\",\n                  \"value\" : 2161\n               },\n               \"duration\"
        : \n               {\n                  \"text\" : \"33 mins\",\n                  \"value\"
        : 1951\n               },\n               \"status\" : \"OK\"\n            }\n
        \        ]\n      }\n   ],\n   \"status\" : \"OK\"\n}"
  recorded_at: Tue, 03 Dec 2024 16:22:22 GMT
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=QXPW%2BQX%20Taiwan,%20%E6%96%B0%E7%AB%B9%E5%B8%82%E6%9D%B1%E5%8D%80%E5%85%89%E6%98%8E%E9%87%8C&key=<GOOGLE_TOKEN>&region=tw
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Hsinchu City
    body:
      encoding: UTF-8
 [...]
- request:
    method: get
    uri: https://plus.codes/api?address=QXPW%2BQX%20Taiwan,%20%E6%96%B0%E7%AB%B9%E5%B8%82%E6%9D%B1%E5%8D%80%E5%85%89%E6%98%8E%E9%87%8C&key=<GOOGLE_TOKEN>
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Appengine-Log-Flush-Count:
      - '1'
      X-Cloud-Trace-Context:
      - f6a6a52b3f594371bb013469d814c3fd
    body:
      encoding: UTF-8
      string: |-
        {
          "plus_code": {
            "global_code": "7QP2QXPW+QX",
            "geometry": {
              "bounds": {
                "northeast": {
                  "lat": 24.786999999999992,
                  "lng": 120.9975
                },
                "southwest": {
                  "lat": 24.786874999999995,
                  "lng": 120.99737499999998
                }
              },
              "location": {
                "lat": 24.786937499999993,
                "lng": 120.99743749999999
              }
            },
            "local_code": "QXPW+QX",
            "locality": {
              "local_address": "Taiwan, 新竹市東區光明里"
            }
          },
          "status": "OK"
        }
  recorded_at: Tue, 03 Dec 2024 16:22:23 GMT
recorded_with: VCR 6.3.1
