---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=24.8022,120.9901&key=<GOOGLE_TOKEN>&mode=transit&origins=%E5%85%89%E6%98%8E%E9%87%8C%20300,%20Hsinchu%20City,%20East%20District
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Hsinchu City
    body:
      encoding: UTF-8
      string: "{\n   \"destination_addresses\" : \n   [\n      \"No. 18, Lane 49,
        Zhongxiao Rd, East District, Hsinchu City, Taiwan 300\"\n   ],\n   \"origin_addresses\"
        : \n   [\n      \"300, Taiwan, 新竹市東區光明里\"\n   ],\n   \"rows\" : \n   [\n      {\n
        \        \"elements\" : \n         [\n            {\n               \"distance\"
        : \n               {\n                  \"text\" : \"2.6 km\",\n                  \"value\"
        : 2637\n               },\n               \"duration\" : \n               {\n
        \                 \"text\" : \"25 mins\",\n                  \"value\" : 1485\n
        \              },\n               \"fare\" : \n               {\n                  \"currency\"
        : \"TWD\",\n                  \"text\" : \"NT$25.00\",\n                  \"value\"
        : 25\n               },\n               \"status\" : \"OK\"\n            }\n
        \        ]\n      }\n   ],\n   \"status\" : \"OK\"\n}"
  recorded_at: Sun, 13 Oct 2024 08:45:24 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=24.8022,120.9901&key=<GOOGLE_TOKEN>&mode=driving&origins=%E5%85%89%E6%98%8E%E9%87%8C%20300,%20Hsinchu%20City,%20East%20District
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Hsinchu City
    body:
      encoding: UTF-8
      string: "{\n   \"destination_addresses\" : \n   [\n      \"No. 18, Lane 49,
        Zhongxiao Rd, East District, Hsinchu City, Taiwan 300\"\n   ],\n   \"origin_addresses\"
        : \n   [\n      \"300, Taiwan, 新竹市東區光明里\"\n   ],\n   \"rows\" : \n   [\n      {\n
        \        \"elements\" : \n         [\n            {\n               \"distance\"
        : \n               {\n                  \"text\" : \"3.4 km\",\n                  \"value\"
        : 3388\n               },\n               \"duration\" : \n               {\n
        \                 \"text\" : \"10 mins\",\n                  \"value\" : 615\n
        \              },\n               \"status\" : \"OK\"\n            }\n         ]\n
        \     }\n   ],\n   \"status\" : \"OK\"\n}"
  recorded_at: Sun, 13 Oct 2024 08:45:24 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=24.8022,120.9901&key=<GOOGLE_TOKEN>&mode=walking&origins=%E5%85%89%E6%98%8E%E9%87%8C%20300,%20Hsinchu%20City,%20East%20District
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Hsinchu City
    body:
      encoding: UTF-8
      string: "{\n   \"destination_addresses\" : \n   [\n      \"No. 18, Lane 49,
        Zhongxiao Rd, East District, Hsinchu City, Taiwan 300\"\n   ],\n   \"origin_addresses\"
        : \n   [\n      \"300, Taiwan, 新竹市東區光明里\"\n   ],\n   \"rows\" : \n   [\n      {\n
        \        \"elements\" : \n         [\n            {\n               \"distance\"
        : \n               {\n                  \"text\" : \"2.4 km\",\n                  \"value\"
        : 2360\n               },\n               \"duration\" : \n               {\n
        \                 \"text\" : \"31 mins\",\n                  \"value\" : 1834\n
        \              },\n               \"status\" : \"OK\"\n            }\n         ]\n
        \     }\n   ],\n   \"status\" : \"OK\"\n}"
  recorded_at: Sun, 13 Oct 2024 08:45:24 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=24.8022,120.9901&key=<GOOGLE_TOKEN>&mode=bicycling&origins=%E5%85%89%E6%98%8E%E9%87%8C%20300,%20Hsinchu%20City,%20East%20District
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Hsinchu City
    body:
      encoding: UTF-8
      string: "{\n   \"destination_addresses\" : \n   [\n      \"No. 18, Lane 49,
        Zhongxiao Rd, East District, Hsinchu City, Taiwan 300\"\n   ],\n   \"origin_addresses\"
        : \n   [\n      \"300, Taiwan, 新竹市東區光明里\"\n   ],\n   \"rows\" : \n   [\n      {\n
        \        \"elements\" : \n         [\n            {\n               \"distance\"
        : \n               {\n                  \"text\" : \"2.6 km\",\n                  \"value\"
        : 2570\n               },\n               \"duration\" : \n               {\n
        \                 \"text\" : \"8 mins\",\n                  \"value\" : 462\n
        \              },\n               \"status\" : \"OK\"\n            }\n         ]\n
        \     }\n   ],\n   \"status\" : \"OK\"\n}"
  recorded_at: Sun, 13 Oct 2024 08:45:24 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=24.8134,120.97101&key=<GOOGLE_TOKEN>&mode=walking&origins=24.8022,120.9901
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Hsinchu City
    body:
      encoding: UTF-8
      string: "{\n   \"destination_addresses\" : \n   [\n      \"No. 260, Minquan
        Rd, East District, Hsinchu City, Taiwan 300\"\n   ],\n   \"origin_addresses\"
        : \n   [\n      \"No. 18, Lane 49, Zhongxiao Rd, East District, Hsinchu City,
        Taiwan 300\"\n   ],\n   \"rows\" : \n   [\n      {\n         \"elements\"
        : \n         [\n            {\n               \"distance\" : \n               {\n
        \                 \"text\" : \"3.0 km\",\n                  \"value\" : 3034\n
        \              },\n               \"duration\" : \n               {\n                  \"text\"
        : \"41 mins\",\n                  \"value\" : 2484\n               },\n               \"status\"
        : \"OK\"\n            }\n         ]\n      }\n   ],\n   \"status\" : \"OK\"\n}"
  recorded_at: Sun, 13 Oct 2024 09:02:52 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=24.8134,120.97101&key=<GOOGLE_TOKEN>&mode=bicycling&origins=24.8022,120.9901
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Hsinchu City
    body:
      encoding: UTF-8
      string: "{\n   \"destination_addresses\" : \n   [\n      \"No. 260, Minquan
        Rd, East District, Hsinchu City, Taiwan 300\"\n   ],\n   \"origin_addresses\"
        : \n   [\n      \"No. 18, Lane 49, Zhongxiao Rd, East District, Hsinchu City,
        Taiwan 300\"\n   ],\n   \"rows\" : \n   [\n      {\n         \"elements\"
        : \n         [\n            {\n               \"distance\" : \n               {\n
        \                 \"text\" : \"3.2 km\",\n                  \"value\" : 3165\n
        \              },\n               \"duration\" : \n               {\n                  \"text\"
        : \"12 mins\",\n                  \"value\" : 737\n               },\n               \"status\"
        : \"OK\"\n            }\n         ]\n      }\n   ],\n   \"status\" : \"OK\"\n}"
  recorded_at: Sun, 13 Oct 2024 09:02:52 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=24.8134,120.97101&key=<GOOGLE_TOKEN>&mode=driving&origins=24.8022,120.9901
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Hsinchu City
    body:
      encoding: UTF-8
      string: "{\n   \"destination_addresses\" : \n   [\n      \"No. 260, Minquan
        Rd, East District, Hsinchu City, Taiwan 300\"\n   ],\n   \"origin_addresses\"
        : \n   [\n      \"No. 18, Lane 49, Zhongxiao Rd, East District, Hsinchu City,
        Taiwan 300\"\n   ],\n   \"rows\" : \n   [\n      {\n         \"elements\"
        : \n         [\n            {\n               \"distance\" : \n               {\n
        \                 \"text\" : \"3.2 km\",\n                  \"value\" : 3179\n
        \              },\n               \"duration\" : \n               {\n                  \"text\"
        : \"8 mins\",\n                  \"value\" : 491\n               },\n               \"status\"
        : \"OK\"\n            }\n         ]\n      }\n   ],\n   \"status\" : \"OK\"\n}"
  recorded_at: Sun, 13 Oct 2024 09:02:52 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=24.8134,120.97101&key=<GOOGLE_TOKEN>&mode=transit&origins=24.8022,120.9901
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Hsinchu City
    body:
      encoding: UTF-8
      string: "{\n   \"destination_add[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=300,%20Taiwan,%20%E6%96%B0%E7%AB%B9%E5%B8%82%E6%9D%B1%E5%8D%80%E5%85%89%E6%98%8E%E9%87%8C&key=<GOOGLE_TOKEN>
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Hsinchu City
    body:
      encoding: UTF-8
      string: "{\n   \"results\" : \n   [\n      {\n         \"address_components\"
        : \n         [\n            {\n               \"long_name\" : \"光明里\",\n               \"short_name\"
        : \"光明里\",\n               \"types\" : \n               [\n                  \"administrative_area_level_3\",\n
        \                 \"political\"\n               ]\n            },\n            {\n
        \              \"long_name\" : \"東區\",\n               \"short_name\" : \"東區\",\n
        \              \"types\" : \n               [\n                  \"administrative_area_level_2\",\n
        \                 \"political\"\n               ]\n            },\n            {\n
        \              \"long_name\" : \"新竹市\",\n               \"short_name\" : \"新竹市\",\n
        \              \"types\" : \n               [\n                  \"administrative_area_level_1\",\n
        \                 \"political\"\n               ]\n            },\n            {\n
        \              \"long_name\" : \"Taiwan\",\n               \"short_name\"
        : \"TW\",\n               \"types\" : \n               [\n                  \"country\",\n
        \                 \"political\"\n               ]\n            },\n            {\n
        \              \"long_name\" : \"300\",\n               \"short_name\" : \"300\",\n
        \              \"types\" : \n               [\n                  \"postal_code\"\n
        \              ]\n            }\n         ],\n         \"formatted_address\"
        : \"300, Taiwan, 新竹市東區光明里\",\n         \"geometry\" : \n         {\n            \"bounds\"
        : \n            {\n               \"northeast\" : \n               {\n                  \"lat\"
        : 24.7998215,\n                  \"lng\" : 121.0055793\n               },\n
        \              \"southwest\" : \n               {\n                  \"lat\"
        : 24.7826199,\n                  \"lng\" : 120.9778747\n               }\n
        \           },\n            \"location\" : \n            {\n               \"lat\"
        : 24.7887403,\n               \"lng\" : 120.9962356\n            },\n            \"location_type\"
        : \"APPROXIMATE\",\n            \"viewport\" : \n            {\n               \"northeast\"
        : \n               {\n                  \"lat\" : 24.7998215,\n                  \"lng\"
        : 121.0055793\n               },\n               \"southwest\" : \n               {\n
        \                 \"lat\" : 24.7826199,\n                  \"lng\" : 120.9778747\n
        \              }\n            }\n         },\n         \"place_id\" : \"ChIJXW0bawk2aDQRlSR_EpFgF9k\",\n
        \        \"types\" : \n         [\n            \"administrative_area_level_3\",\n
        \           \"political\"\n         ]\n      }\n   ],\n   \"status\" : \"OK\"\n}"
  recorded_at: Thu, 17 Oct 2024 12:37:54 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=No.%2018,%20Lane%2049,%20Zhongxiao%20Rd,%20East%20District,%20Hsinchu%20City,%20Taiwan%20300&key=<GOOGLE_TOKEN>
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Hsinchu City
    body:
      encoding: UTF-8
      string:[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=24.8022,120.9901&key&mode=walking&origins=%E5%85%89%E6%98%8E%E9%87%8C%20300,%20Hsinchu%20City,%20East%20District
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
           "destination_addresses" : [],
           "error_message" : "You must use an API key to authenticate each request to Google Maps Platform APIs. For additional information, please refer to http://g.co/dev/maps-no-account",
           "origin_addresses" : [],
           "rows" : [],
           "status" : "REQUEST_DENIED"
        }
  recorded_at: Mon, 21 Oct 2024 13:12:46 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=24.8022,120.9901&key&mode=transit&origins=%E5%85%89%E6%98%8E%E9%87%8C%20300,%20Hsinchu%20City,%20East%20District
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
           "destination_addresses" : [],
           "error_message" : "You must use an API key to authenticate each request to Google Maps Platform APIs. For additional information, please refer to http://g.co/dev/maps-no-account",
           "origin_addresses" : [],
           "rows" : [],
           "status" : "REQUEST_DENIED"
        }
  recorded_at: Mon, 21 Oct 2024 13:12:46 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=24.8022,120.9901&key&mode=bicycling&origins=%E5%85%89%E6%98%8E%E9%87%8C%20300,%20Hsinchu%20City,%20East%20District
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
           "destination_addresses" : [],
           "error_message" : "You must use an API key to authenticate each request to Google Maps Platform APIs. For additional information, please refer to http://g.co/dev/maps-no-account",
           "origin_addresses" : [],
           "rows" : [],
           "status" : "REQUEST_DENIED"
        }
  recorded_at: Mon, 21 Oct 2024 13:12:46 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=24.8022,120.9901&key&mode=driving&origins=%E5%85%89%E6%98%8E%E9%87%8C%20300,%20Hsinchu%20City,%20East%20District
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
           "destination_addresses" : [],
           "error_message" : "You must use an API key to authenticate each request to Google Maps Platform APIs. For additional information, please refer to http://g.co/dev/maps-no-account",
           "origin_addresses" : [],
           "rows" : [],
           "status" : "REQUEST_DENIED"
        }
  recorded_at: Mon, 21 Oct 2024 13:12:46 GMT
recorded_with: VCR 6.3.1
