---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=24.8022,120.9901&key=<GOOGLE_TOKEN>&mode=transit&origins=%E5%85%89%E6%98%8E%E9%87%8C%20300,%20Hsinchu%20City,%20East%20District
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Hsinchu City
    body:
      encoding: UTF-8
      string: "{\n   \"destination_addresses\" : \n   [\n      \"No. 18, Lane 49,
        Zhongxiao Rd, East District, Hsinchu City, Taiwan 300\"\n   ],\n   \"origin_addresses\"
        : \n   [\n      \"300, Taiwan, 新竹市東區光明里\"\n   ],\n   \"rows\" : \n   [\n      {\n
        \        \"elements\" : \n         [\n            {\n               \"distance\"
        : \n               {\n                  \"text\" : \"2.6 km\",\n                  \"value\"
        : 2637\n               },\n               \"duration\" : \n               {\n
        \                 \"text\" : \"25 mins\",\n                  \"value\" : 1485\n
        \              },\n               \"fare\" : \n               {\n                  \"currency\"
        : \"TWD\",\n                  \"text\" : \"NT$25.00\",\n                  \"value\"
        : 25\n               },\n               \"status\" : \"OK\"\n            }\n
        \        ]\n      }\n   ],\n   \"status\" : \"OK\"\n}"
  recorded_at: Sun, 13 Oct 2024 08:45:24 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=24.8022,120.9901&key=<GOOGLE_TOKEN>&mode=driving&origins=%E5%85%89%E6%98%8E%E9%87%8C%20300,%20Hsinchu%20City,%20East%20District
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Hsinchu City
    body:
      encoding: UTF-8
      string: "{\n   \"destination_addresses\" : \n   [\n      \"No. 18, Lane 49,
        Zhongxiao Rd, East District, Hsinchu City, Taiwan 300\"\n   ],\n   \"origin_addresses\"
        : \n   [\n      \"300, Taiwan, 新竹市東區光明里\"\n   ],\n   \"rows\" : \n   [\n      {\n
        \        \"elements\" : \n         [\n            {\n               \"distance\"
        : \n               {\n                  \"text\" : \"3.4 km\",\n                  \"value\"
        : 3388\n               },\n               \"duration\" : \n               {\n
        \                 \"text\" : \"10 mins\",\n                  \"value\" : 615\n
        \              },\n               \"status\" : \"OK\"\n            }\n         ]\n
        \     }\n   ],\n   \"status\" : \"OK\"\n}"
  recorded_at: Sun, 13 Oct 2024 08:45:24 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=24.8022,120.9901&key=<GOOGLE_TOKEN>&mode=walking&origins=%E5%85%89%E6%98%8E%E9%87%8C%20300,%20Hsinchu%20City,%20East%20District
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Hsinchu City
    body:
      encoding: UTF-8
      string: "{\n   \"destination_addresses\" : \n   [\n      \"No. 18, Lane 49,
        Zhongxiao Rd, East District, Hsinchu City, Taiwan 300\"\n   ],\n   \"origin_addresses\"
        : \n   [\n      \"300, Taiwan, 新竹市東區光明里\"\n   ],\n   \"rows\" : \n   [\n      {\n
        \        \"elements\" : \n         [\n            {\n               \"distance\"
        : \n               {\n                  \"text\" : \"2.4 km\",\n                  \"value\"
        : 2360\n               },\n               \"duration\" : \n               {\n
        \                 \"text\" : \"31 mins\",\n                  \"value\" : 1834\n
        \              },\n               \"status\" : \"OK\"\n            }\n         ]\n
        \     }\n   ],\n   \"status\" : \"OK\"\n}"
  recorded_at: Sun, 13 Oct 2024 08:45:24 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=24.8022,120.9901&key=<GOOGLE_TOKEN>&mode=bicycling&origins=%E5%85%89%E6%98%8E%E9%87%8C%20300,%20Hsinchu%20City,%20East%20District
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Hsinchu City
    body:
      encoding: UTF-8
      string: "{\n   \"destination_addresses\" : \n   [\n      \"No. 18, Lane 49,
        Zhongxiao Rd, East District, Hsinchu City, Taiwan 300\"\n   ],\n   \"origin_addresses\"
        : \n   [\n      \"300, Taiwan, 新竹市東區光明里\"\n   ],\n   \"rows\" : \n   [\n      {\n
        \        \"elements\" : \n         [\n            {\n               \"distance\"
        : \n               {\n                  \"text\" : \"2.6 km\",\n                  \"value\"
        : 2570\n               },\n               \"duration\" : \n               {\n
        \                 \"text\" : \"8 mins\",\n                  \"value\" : 462\n
        \              },\n               \"status\" : \"OK\"\n            }\n         ]\n
        \     }\n   ],\n   \"status\" : \"OK\"\n}"
  recorded_at: Sun, 13 Oct 2024 08:45:24 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=24.8134,120.97101&key=<GOOGLE_TOKEN>&mode=walking&origins=24.8022,120.9901
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Hsinchu City
    body:
      encoding: UTF-8
      string: "{\n   \"destination_addresses\" : \n   [\n      \"No. 260, Minquan
        Rd, East District, Hsinchu City, Taiwan 300\"\n   ],\n   \"origin_addresses\"
        : \n   [\n      \"No. 18, Lane 49, Zhongxiao Rd, East District, Hsinchu City,
        Taiwan 300\"\n   ],\n   \"rows\" : \n   [\n      {\n         \"elements\"
        : \n         [\n            {\n               \"distance\" : \n               {\n
        \                 \"text\" : \"3.0 km\",\n                  \"value\" : 3034\n
        \              },\n               \"duration\" : \n               {\n                  \"text\"
        : \"41 mins\",\n                  \"value\" : 2484\n               },\n               \"status\"
        : \"OK\"\n            }\n         ]\n      }\n   ],\n   \"status\" : \"OK\"\n}"
  recorded_at: Sun, 13 Oct 2024 09:02:52 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=24.8134,120.97101&key=<GOOGLE_TOKEN>&mode=bicycling&origins=24.8022,120.9901
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Hsinchu City
    body:
      encoding: UTF-8
      string: "{\n   \"destination_addresses\" : \n   [\n      \"No. 260, Minquan
        Rd, East District, Hsinchu City, Taiwan 300\"\n   ],\n   \"origin_addresses\"
        : \n   [\n      \"No. 18, Lane 49, Zhongxiao Rd, East District, Hsinchu City,
        Taiwan 300\"\n   ],\n   \"rows\" : \n   [\n      {\n         \"elements\"
        : \n         [\n            {\n               \"distance\" : \n               {\n
        \                 \"text\" : \"3.2 km\",\n                  \"value\" : 3165\n
        \              },\n               \"duration\" : \n               {\n                  \"text\"
        : \"12 mins\",\n                  \"value\" : 737\n               },\n               \"status\"
        : \"OK\"\n            }\n         ]\n      }\n   ],\n   \"status\" : \"OK\"\n}"
  recorded_at: Sun, 13 Oct 2024 09:02:52 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=24.8134,120.97101&key=<GOOGLE_TOKEN>&mode=driving&origins=24.8022,120.9901
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Hsinchu City
    body:
      encoding: UTF-8
      string: "{\n   \"destination_addresses\" : \n   [\n      \"No. 260, Minquan
        Rd, East District, Hsinchu City, Taiwan 300\"\n   ],\n   \"origin_addresses\"
        : \n   [\n      \"No. 18, Lane 49, Zhongxiao Rd, East District, Hsinchu City,
        Taiwan 300\"\n   ],\n   \"rows\" : \n   [\n      {\n         \"elements\"
        : \n         [\n            {\n               \"distance\" : \n               {\n
        \                 \"text\" : \"3.2 km\",\n                  \"value\" : 3179\n
        \              },\n               \"duration\" : \n               {\n                  \"text\"
        : \"8 mins\",\n                  \"value\" : 491\n               },\n               \"status\"
        : \"OK\"\n            }\n         ]\n      }\n   ],\n   \"status\" : \"OK\"\n}"
  recorded_at: Sun, 13 Oct 2024 09:02:52 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=24.8134,120.97101&key=<GOOGLE_TOKEN>&mode=transit&origins=24.8022,120.9901
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Hsinchu City
    body:
      encoding: UTF-8
      string: "{\n   \"destination_add[...]
