---
http_interactions:
- request:
    method: get
    uri: https://api.nthusa.tw/buses/stops/%E5%8C%97%E6%A0%A1%E9%96%80%E5%8F%A3/?bus_type=main&day=current&direction=up
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Process-Time:
      - '0.0025322437286376953'
    body:
      encoding: UTF-8
      string: '[{"bus_info":{"time":"12:55","description":"","route":"校園公車","dep_stop":"校門","line":"red"},"arrive_time":"12:55"},{"bus_info":{"time":"13:00","description":"","route":"校園公車","dep_stop":"校門","line":"red"},"arrive_time":"13:00"},{"bus_info":{"time":"13:05","description":"大型巴士","route":"校園公車","dep_stop":"校門","line":"red"},"arrive_time":"13:05"},{"bus_info":{"time":"13:10","description":"週六有行駛","route":"校園公車","dep_stop":"校門","line":"red"},"arrive_time":"13:10"},{"bus_info":{"time":"13:15","description":"","route":"校園公車","dep_stop":"校門","line":"red"},"arrive_time":"13:15"}]'
  recorded_at: Thu, 19 Dec 2024 04:53:23 GMT
- request:
    method: get
    uri: https://api.nthusa.tw/buses/stops/%E5%8C%97%E6%A0%A1%E9%96%80%E5%8F%A3/?bus_type=main&day=current&direction=down
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Process-Time:
      - '0.0021123886108398438'
    body:
      encoding: UTF-8
      string: '[{"bus_info":{"time":"12:47","description":"","route":"校園公車","dep_stop":"台積館","line":"red"},"arrive_time":"12:53"},{"bus_info":{"time":"12:57","description":"","route":"校園公車","dep_stop":"台積館","line":"red"},"arrive_time":"13:03"},{"bus_info":{"time":"13:02","description":"","route":"校園公車","dep_stop":"台積館","line":"red"},"arrive_time":"13:08"},{"bus_info":{"time":"13:07","description":"","route":"校園公車","dep_stop":"台積館","line":"red"},"arrive_time":"13:13"},{"bus_info":{"time":"13:12","description":"大型巴士","route":"校園公車","dep_stop":"台積館","line":"red"},"arrive_time":"13:18"}]'
  recorded_at: Thu, 19 Dec 2024 04:53:23 GMT
- request:
    method: get
    uri: https://api.nthusa.tw/buses/detailed/?bus_type=main&day=current&direction=up
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Process-Time:
      - '0.0026140213012695312'
    body:
      encoding: UTF-8
      string: '[{"dep_info":{"time":"12:55","description":"","route":"校園公車","dep_stop":"校門","line":"red"},"stops_time":[{"stop_name":"北校門口","time":"12:55"},{"stop_name":"綜二館","time":"12:56"},{"stop_name":"楓林小徑","time":"12:57"},{"stop_name":"人社院/生科館","time":"12:59"},{"stop_name":"台積館","time":"13:01"}]},{"dep_info":{"time":"13:00","description":"","route":"校園公車","dep_stop":"校門","line":"red"},"stops_time":[{"stop_name":"北校門口","time":"13:00"},{"stop_name":"綜二館","time":"13:01"},{"stop_name":"楓林小徑","time":"13:02"},{"stop_name":"人社院/生科館","time":"13:04"},{"stop_name":"台積館","time":"13:06"}]},{"dep_info":{"time":"13:00","description":"","route":"校園公車","dep_stop":"綜二","line":"green"},"stops_time":[{"stop_name":"綜二館","time":"13:00"},{"stop_name":"楓林小徑","time":"13:01"},{"stop_name":"奕園停車場","time":"13:02"},{"stop_name":"南門停車場","time":"13:04"},{"stop_name":"台積館","time":"13:05"}]},{"dep_info":{"time":"13:05","description":"大型巴士","route":"校園公車","dep_stop":"校門","line":"red"},"stops_time":[{"stop_name":"北校門口","time":"13:05"},{"stop_name":"綜二館","time":"13:06"},{"stop_name":"楓林小徑","time":"13:07"},{"stop_name":"人社院/生科館","time":"13:09"},{"stop_name":"台積館","time":"13:11"}]},{"dep_info":{"time":"13:05","description":"","route":"校園公車","dep_stop":"綜二","line":"green"},"stops_time":[{"stop_name":"綜二館","time":"13:05"},{"stop_name":"楓林小徑","time":"13:06"},{"stop_name":"奕園停車場","time":"13:07"},{"stop_name":"南門停車場","time":"13:09"},{"stop_name":"台積館","time":"13:10"}]}]'
  recorded_at: Thu, 19 Dec 2024 04:53:23 GMT
- request:
    method: get
    uri: https://api.nthusa.tw/buses/detailed/?bus_type=main&day=current&direction=down
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Process-Time:
      - '0.0027348995208740234'
    body:
      encoding: UTF-8
      string: '[{"dep_info":{"time":"12:57","description":"","route":"校園公車","dep_stop":"台積館","line":"red"},"stops_ti[...]
- request:
    method: get
    uri: https://api.nthusa.tw/buses/stops/%E5%A5%95%E5%9C%92%E5%81%9C%E8%BB%8A%E5%A0%B4/?bus_type=main&day=current&direction=up
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Process-Time:
      - '0.002228260040283203'
    body:
      encoding: UTF-8
      string: '[{"bus_info":{"time":"13:00","description":"","route":"校園公車","dep_stop":"綜二","line":"green"},"arrive_time":"13:02"},{"bus_info":{"time":"13:05","description":"","route":"校園公車","dep_stop":"綜二","line":"green"},"arrive_time":"13:07"},{"bus_info":{"time":"13:10","description":"","route":"校園公車","dep_stop":"綜二","line":"green"},"arrive_time":"13:12"},{"bus_info":{"time":"13:15","description":"","route":"校園公車","dep_stop":"綜二","line":"green"},"arrive_time":"13:17"},{"bus_info":{"time":"13:25","description":"","route":"校園公車","dep_stop":"校門","line":"green"},"arrive_time":"13:28"}]'
  recorded_at: Thu, 19 Dec 2024 04:55:03 GMT
- request:
    method: get
    uri: https://api.nthusa.tw/buses/stops/%E5%A5%95%E5%9C%92%E5%81%9C%E8%BB%8A%E5%A0%B4/?bus_type=main&day=current&direction=down
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Process-Time:
      - '0.0022552013397216797'
    body:
      encoding: UTF-8
      string: '[{"bus_info":{"time":"12:57","description":"","route":"校園公車","dep_stop":"台積館","line":"red"},"arrive_time":"13:00"},{"bus_info":{"time":"13:02","description":"","route":"校園公車","dep_stop":"台積館","line":"red"},"arrive_time":"13:05"},{"bus_info":{"time":"13:07","description":"","route":"校園公車","dep_stop":"台積館","line":"red"},"arrive_time":"13:10"},{"bus_info":{"time":"13:12","description":"大型巴士","route":"校園公車","dep_stop":"台積館","line":"red"},"arrive_time":"13:15"},{"bus_info":{"time":"13:17","description":"週六有行駛","route":"校園公車","dep_stop":"台積館","line":"red"},"arrive_time":"13:20"}]'
  recorded_at: Thu, 19 Dec 2024 04:55:04 GMT
- request:
    method: get
    uri: https://api.nthusa.tw/buses/stops/%E7%B6%9C%E4%BA%8C%E9%A4%A8/?bus_type=main&day=current&direction=up
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Process-Time:
      - '0.0022094249725341797'
    body:
      encoding: UTF-8
      string: '[{"bus_info":{"time":"12:55","description":"","route":"校園公車","dep_stop":"校門","line":"red"},"arrive_time":"12:56"},{"bus_info":{"time":"13:00","description":"","route":"校園公車","dep_stop":"綜二","line":"green"},"arrive_time":"13:00"},{"bus_info":{"time":"13:00","description":"","route":"校園公車","dep_stop":"校門","line":"red"},"arrive_time":"13:01"},{"bus_info":{"time":"13:05","description":"","route":"校園公車","dep_stop":"綜二","line":"green"},"arrive_time":"13:05"},{"bus_info":{"time":"13:05","description":"大型巴士","route":"校園公車","dep_stop":"校門","line":"red"},"arrive_time":"13:06"}]'
  recorded_at: Thu, 19 Dec 2024 04:55:05 GMT
- request:
    method: get
    uri: https://api.nthusa.tw/buses/stops/%E7%B6%9C%E4%BA%8C%E9%A4%A8/?bus_type=main&day=current&direction=down
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Process-Time:
      - '0.0023496150970458984'
    body:
      encoding: UTF-8
      string: '[{"bus_info":{"time":"12:57","description":"","route":"校園公車","dep_stop":"台積館","line":"red"},"arrive_time":"13:02"},{"bus_info":{"time":"12:57","description":"","route":"校園公車","dep_stop":"台積館","line":"green"},"arrive_time":"13:02"},{"bus_info":{"time":"13:02","description":"","route":"校園公車","dep_stop":"台積館","line":"red"},"arrive_time":"13:07"},{"bus_info":{"time":"13:07","description":"","route":"校園公車","dep_stop":"台積館","line":"red"},"arrive_time":"13:12"},{"bus_info":{"time":"13:07","description":"","route":"校園公車","dep_stop":"台積館","line":"green"},"arrive_time":"13:12"}]'
  recorded_at: Thu, 19 Dec 2024 04:55:05 GMT
- request:
    method: get
    uri: https://api.nthusa.tw/buses/stops/%E5%8F%B0%E7%A9%8D%E9%A4%A8/?bus_type=main&day=current&direction=up
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Process-Time:
      - '0.0024356842041015625'
    body:
      encoding: UTF-8
      string: '[{"bus_info":{"time":"12:50","description":"","route":"校園公車","dep_stop":"綜二","line":"green"},"arrive_time":"12:55"},{"bus_info":{"time":"12:50","description":"","route":"校園公車","dep_stop":"校門","line":"red"},"arrive_time":"12:56"},{"bus_info":{"time":"12:55","description":"","route":"校園公車","dep_stop":"校門","line":"red"},"arrive_time":"13:01"},{"bus_info":{"time":"13:00","description":"","route":"校園公車","dep_stop":"綜二","line":"green"},"arrive_time":"13:05"},{"bus_info":{"time":"13:00","description":"","route":"校園公車","dep_stop":"校門","line":"red"},"arrive_time":"13:06"}]'
  recorded_at: Thu, 19 Dec 2024 04:55:06 GMT
- request:
    method: get
    uri: https://api.nthusa.tw/buses/stops/%E5%8F%B0%E7%A9%8D%E9%A4%A8/?bus_type=main&day=current&direction=down
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Process-Time:
      - '0.0022706985473632812'
    body:
      encoding: UTF-8
      string: '[{"bus_info":{"time":"12:57","description":"","route":"校園公車","dep_stop":"台積館","line":"red"},"arrive_time":"12:57"},{"bus_info":{"time":"12:57","description":"","route":"校園公車","dep_stop":"台積館","line":"green"},"arrive_time":"12:57"},{"bus_info":{"time":"13:02","description":"","route":"校園公車","dep_stop":"台積館","line":"red"},"arrive_time":"13:02"},{"bus_info":{"time":"13:07","description":"","route":"校園公車","dep_stop":"台積館","line":"red"},"arrive_time":"13:07"},{"bus_info":{"time":"13:07","description":"","route":"校園公車","dep_stop":"台積館","line":"green"},"arrive_time":"13:07"}]'
  recorded_at: Thu, 19 Dec 2024 04:55:07 GMT
- request:
    method: get
    uri: https://api.nthusa.tw/buses/stops/%E6%A5%93%E6%9E%97%E5%B0%8F%E5%BE%91/?bus_type=main&day=current&direction=up
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Process-Time:
      - '0.0025801658630371094'
    body:
      encoding: UTF-8
      string: '[{"bus_info":{"time":"12:55","description":"","route":"校園公車","dep_stop":"校門","line":"red"},"arrive_time":"12:57"},{"bus_info":{"time":"13:00","description":"","route":"校園公車","dep_stop":"綜二","line":"green"},"arrive_time":"13:01"},{"bus_info":{"time":"13:00","description":"","route":"校園公車","dep_stop":"校門","line":"red"},"arrive_time":"13:02"},{"bus_info":{"time":"13:05","description":"","route":"校園公車","dep_stop":"綜二","line":"green"},"arrive_time":"13:06"},{"bus_info":{"time":"13:05","description":"大型巴士","route":"校園公車","dep_stop":"校門","line":"red"},"arrive_time":"13:07"}]'
  recorded_at: Thu, 19 Dec 2024 04:55:08 GMT
- request:
    method: get
    uri: https://api.nthusa.tw/buses/stops/%E6%A5%93%E6%9E%97%E5%B0%8F%E5%BE%91/?bus_type=main&day=current&direction=down
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Process-Time:
      - '0.002171039581298828'
    body:
      encoding: UTF-8
      string: '[{"bus_info":{"time":"12:57","description":"","route":"校園公車","dep_stop":"台積館","line":"red"},"arrive_time":"13:01"},{"bus_info":{"time":"12:57","description":"","route":"校園公車","dep_stop":"台積館","line":"green"},"arrive_time":"13:01"},{"bus_info":{"time":"13:02","description":"","route":"校園公車","dep_stop":"台積館","line":"red"},"arrive_time":"13:06"},{"bus_info":{"time":"13:07","description":"","route":"校園公車","dep_stop":"台積館","line":"red"},"arrive_time":"13:11"},{"bus_info":{"time":"13:07","description":"","route":"校園公車","dep_stop":"台積館","line":"green"},"arrive_time":"13:11"}]'
  recorded_at: Thu, 19 Dec 2024 04:55:08 GMT
- request:
    method: get
    uri: https://api.nthusa.tw/buses/stops/%E4%BA%BA%E7%A4%BE%E9%99%A2&%E7%94%9F%E7%A7%91%E9%A4%A8/?bus_type=main&day=current&direction=up
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Process-Time:
      - '0.0020291805267333984'
    body:
      encoding: UTF-8
      string: '[{"bus_info":{"time":"12:55","description":"","route":"校園公車","dep_stop":"校門","line":"red"},"arrive_time":"12:59"},{"bus_info":{"time":"13:00","description":"","route":"校園公車","dep_stop":"校門","line":"red"},"arrive_time":"13:04"},{"bus_info":{"time":"13:05","description":"大型巴士","route":"校園公車","dep_stop":"校門","line":"red"},"arrive_time":"13:09"},{"bus_info":{"time":"13:10","description":"週六有行駛","route":"校園公車","dep_stop":"校門","line":"red"},"arrive_time":"13:14"},{"bus_info":{"time":"13:15","description":"","route":"校園公車","dep_stop":"校門","line":"red"},"arrive_time":"13:19"}]'
  recorded_at: Thu, 19 Dec 2024 04:55:09 GMT
- request:
    method: get
    uri: https://api.nthusa.tw/buses/stops/%E4%BA%BA%E7%A4%BE%E9%99%A2&%E7%94%9F%E7%A7%91%E9%A4%A8/?bus_type=main&day=current&direction=down
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Process-Time:
      - '0.002015829086303711'
    body:
      encoding: UTF-8
      string: '[{"bus_info":{"time":"12:57","description":"","route":"校園公車","dep_stop":"台積館","line":"green"},"arrive_time":"12:59"},{"bus_info":{"time":"13:07","description":"","route":"校園公車","dep_stop":"台積館","line":"green"},"arrive_time":"13:09"},{"bus_info":{"time":"13:12","description":"","route":"校園公車","dep_stop":"台積館","line":"green"},"arrive_time":"13:14"},{"bus_info":{"time":"13:17","description":"","route":"校園公車","dep_stop":"台積館","line":"green"},"arrive_time":"13:19"},{"bus_info":{"time":"13:22","description":"","route":"校園公車","dep_stop":"台積館","line":"green"},"arrive_time":"13:24"}]'
  recorded_at: Thu, 19 Dec 2024 04:55:10 GMT
- request:
    method: get
    uri: https://api.nthusa.tw/buses/stops/%E5%8D%97%E9%96%80%E5%81%9C%E8%BB%8A%E5%A0%B4/?bus_type=main&day=current&direction=up
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Process-Time:
      - '0.0022890567779541016'
    body:
      encoding: UTF-8
      string: '[{"bus_info":{"time":"13:00","description":"","route":"校園公車","dep_stop":"綜二","line":"green"},"arrive_time":"13:04"},{"bus_info":{"time":"13:05","description":"","route":"校園公車","dep_stop":"綜二","line":"green"},"arrive_time":"13:09"},{"bus_info":{"time":"13:10","description":"","route":"校園公車","dep_stop":"綜二","line":"green"},"arrive_time":"13:14"},{"bus_info":{"time":"13:15","description":"","route":"校園公車","dep_stop":"綜二","line":"green"},"arrive_time":"13:19"},{"bus_info":{"time":"13:25","description":"","route":"校園公車","dep_stop":"校門","line":"green"},"arrive_time":"13:30"}]'
  recorded_at: Thu, 19 Dec 2024 04:55:11 GMT
- request:
    method: get
    uri: https://api.nthusa.tw/buses/stops/%E5%8D%97%E9%96%80%E5%81%9C%E8%BB%8A%E5%A0%B4/?bus_type=main&day=current&direction=down
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Process-Time:
      - '0.00205230712890625'
    body:
      encoding: UTF-8
      string: '[{"bus_info":{"time":"12:57","description":"","route":"校園公車","dep_stop":"台積館","line":"red"},"arrive_time":"12:58"},{"bus_info":{"time":"13:02","description":"","route":"校園公車","dep_stop":"台積館","line":"red"},"arrive_time":"13:03"},{"bus_info":{"time":"13:07","description":"","route":"校園公車","dep_stop":"台積館","line":"red"},"arrive_time":"13:08"},{"bus_info":{"time":"13:12","description":"大型巴士","route":"校園公車","dep_stop":"台積館","line":"red"},"arrive_time":"13:13"},{"bus_info":{"time":"13:17","description":"週六有行駛","route":"校園公車","dep_stop":"台積館","line":"red"},"arrive_time":"13:18"}]'
  recorded_at: Thu, 19 Dec 2024 04:55:11 GMT
recorded_with: VCR 6.3.1
