---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=24.8022,120.9901&key=<GOOGLE_TOKEN>&mode=transit&origins=%E5%85%89%E6%98%8E%E9%87%8C%20300,%20Hsinchu%20City,%20East%20District
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Hsinchu City
    body:
      encoding: UTF-8
      string: "{\n   \"destination_addresses\" : \n   [\n      \"No. 18, Lane 49,
        Zhongxiao Rd, East District, Hsinchu City, Taiwan 300\"\n   ],\n   \"origin_addresses\"
        : \n   [\n      \"300, Taiwan, 新竹市東區光明里\"\n   ],\n   \"rows\" : \n   [\n      {\n
        \        \"elements\" : \n         [\n            {\n               \"distance\"
        : \n               {\n                  \"text\" : \"2.6 km\",\n                  \"value\"
        : 2637\n               },\n               \"duration\" : \n               {\n
        \                 \"text\" : \"25 mins\",\n                  \"value\" : 1485\n
        \              },\n               \"fare\" : \n               {\n                  \"currency\"
        : \"TWD\",\n                  \"text\" : \"NT$25.00\",\n                  \"value\"
        : 25\n               },\n               \"status\" : \"OK\"\n            }\n
        \        ]\n      }\n   ],\n   \"status\" : \"OK\"\n}"
  recorded_at: Sun, 13 Oct 2024 08:45:24 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=24.8022,120.9901&key=<GOOGLE_TOKEN>&mode=driving&origins=%E5%85%89%E6%98%8E%E9%87%8C%20300,%20Hsinchu%20City,%20East%20District
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Hsinchu City
    body:
      encoding: UTF-8
      string: "{\n   \"destination_addresses\" : \n   [\n      \"No. 18, Lane 49,
        Zhongxiao Rd, East District, Hsinchu City, Taiwan 300\"\n   ],\n   \"origin_addresses\"
        : \n   [\n      \"300, Taiwan, 新竹市東區光明里\"\n   ],\n   \"rows\" : \n   [\n      {\n
        \        \"elements\" : \n         [\n            {\n               \"distance\"
        : \n               {\n                  \"text\" : \"3.4 km\",\n                  \"value\"
        : 3388\n               },\n               \"duration\" : \n               {\n
        \                 \"text\" : \"10 mins\",\n                  \"value\" : 615\n
        \              },\n               \"status\" : \"OK\"\n            }\n         ]\n
        \     }\n   ],\n   \"status\" : \"OK\"\n}"
  recorded_at: Sun, 13 Oct 2024 08:45:24 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=24.8022,120.9901&key=<GOOGLE_TOKEN>&mode=walking&origins=%E5%85%89%E6%98%8E%E9%87%8C%20300,%20Hsinchu%20City,%20East%20District
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Hsinchu City
    body:
      encoding: UTF-8
      string: "{\n   \"destination_addresses\" : \n   [\n      \"No. 18, Lane 49,
        Zhongxiao Rd, East District, Hsinchu City, Taiwan 300\"\n   ],\n   \"origin_addresses\"
        : \n   [\n      \"300, Taiwan, 新竹市東區光明里\"\n   ],\n   \"rows\" : \n   [\n      {\n
        \        \"elements\" : \n         [\n            {\n               \"distance\"
        : \n               {\n                  \"text\" : \"2.4 km\",\n                  \"value\"
        : 2360\n               },\n               \"duration\" : \n               {\n
        \                 \"text\" : \"31 mins\",\n                  \"value\" : 1834\n
        \              },\n               \"status\" : \"OK\"\n            }\n         ]\n
        \     }\n   ],\n   \"status\" : \"OK\"\n}"
  recorded_at: Sun, 13 Oct 2024 08:45:24 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=24.8022,120.9901&key=<GOOGLE_TOKEN>&mode=bicycling&origins=%E5%85%89%E6%98%8E%E9%87%8C%20300,%20Hsinchu%20City,%20East%20District
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Hsinchu City
    body:
      encoding: UTF-8
      string: "{\n   \"destination_addresses\" : \n   [\n      \"No. 18, Lane 49,
        Zhongxiao Rd, East District, Hsinchu City, Taiwan 300\"\n   ],\n   \"origin_addresses\"
        : \n   [\n      \"300, Taiwan, 新竹市東區光明里\"\n   ],\n   \"rows\" : \n   [\n      {\n
        \        \"elements\" : \n         [\n            {\n               \"distance\"
        : \n               {\n                  \"text\" : \"2.6 km\",\n                  \"value\"
        : 2570\n               },\n               \"duration\" : \n               {\n
        \                 \"text\" : \"8 mins\",\n                  \"value\" : 462\n
        \              },\n               \"status\" : \"OK\"\n            }\n         ]\n
        \     }\n   ],\n   \"status\" : \"OK\"\n}"
  recorded_at: Sun, 13 Oct 2024 08:45:24 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=24.8134,120.97101&key=<GOOGLE_TOKEN>&mode=walking&origins=24.8022,120.9901
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Hsinchu City
    body:
      encoding: UTF-8
      string: "{\n   \"destination_addresses\" : \n   [\n      \"No. 260, Minquan
        Rd, East District, Hsinchu City, Taiwan 300\"\n   ],\n   \"origin_addresses\"
        : \n   [\n      \"No. 18, Lane 49, Zhongxiao Rd, East District, Hsinchu City,
        Taiwan 300\"\n   ],\n   \"rows\" : \n   [\n      {\n         \"elements\"
        : \n         [\n            {\n               \"distance\" : \n               {\n
        \                 \"text\" : \"3.0 km\",\n                  \"value\" : 3034\n
        \              },\n               \"duration\" : \n               {\n                  \"text\"
        : \"41 mins\",\n                  \"value\" : 2484\n               },\n               \"status\"
        : \"OK\"\n            }\n         ]\n      }\n   ],\n   \"status\" : \"OK\"\n}"
  recorded_at: Sun, 13 Oct 2024 09:02:52 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=24.8134,120.97101&key=<GOOGLE_TOKEN>&mode=bicycling&origins=24.8022,120.9901
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Hsinchu City
    body:
      encoding: UTF-8
      string: "{\n   \"destination_addresses\" : \n   [\n      \"No. 260, Minquan
        Rd, East District, Hsinchu City, Taiwan 300\"\n   ],\n   \"origin_addresses\"
        : \n   [\n      \"No. 18, Lane 49, Zhongxiao Rd, East District, Hsinchu City,
        Taiwan 300\"\n   ],\n   \"rows\" : \n   [\n      {\n         \"elements\"
        : \n         [\n            {\n               \"distance\" : \n               {\n
        \                 \"text\" : \"3.2 km\",\n                  \"value\" : 3165\n
        \              },\n               \"duration\" : \n               {\n                  \"text\"
        : \"12 mins\",\n                  \"value\" : 737\n               },\n               \"status\"
        : \"OK\"\n            }\n         ]\n      }\n   ],\n   \"status\" : \"OK\"\n}"
  recorded_at: Sun, 13 Oct 2024 09:02:52 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=24.8134,120.97101&key=<GOOGLE_TOKEN>&mode=driving&origins=24.8022,120.9901
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Hsinchu City
    body:
      encoding: UTF-8
      string: "{\n   \"destination_addresses\" : \n   [\n      \"No. 260, Minquan
        Rd, East District, Hsinchu City, Taiwan 300\"\n   ],\n   \"origin_addresses\"
        : \n   [\n      \"No. 18, Lane 49, Zhongxiao Rd, East District, Hsinchu City,
        Taiwan 300\"\n   ],\n   \"rows\" : \n   [\n      {\n         \"elements\"
        : \n         [\n            {\n               \"distance\" : \n               {\n
        \                 \"text\" : \"3.2 km\",\n                  \"value\" : 3179\n
        \              },\n               \"duration\" : \n               {\n                  \"text\"
        : \"8 mins\",\n                  \"value\" : 491\n               },\n               \"status\"
        : \"OK\"\n            }\n         ]\n      }\n   ],\n   \"status\" : \"OK\"\n}"
  recorded_at: Sun, 13 Oct 2024 09:02:52 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=24.8134,120.97101&key=<GOOGLE_TOKEN>&mode=transit&origins=24.8022,120.9901
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Hsinchu City
    body:
      encoding: UTF-8
      string: "{\n   \"destination_add[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=300,%20Taiwan,%20%E6%96%B0%E7%AB%B9%E5%B8%82%E6%9D%B1%E5%8D%80%E5%85%89%E6%98%8E%E9%87%8C&key=<GOOGLE_TOKEN>
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Hsinchu City
    body:
      encoding: UTF-8
      string: "{\n   \"results\" : \n   [\n      {\n         \"address_components\"
        : \n         [\n            {\n               \"long_name\" : \"光明里\",\n               \"short_name\"
        : \"光明里\",\n               \"types\" : \n               [\n                  \"administrative_area_level_3\",\n
        \                 \"political\"\n               ]\n            },\n            {\n
        \              \"long_name\" : \"東區\",\n               \"short_name\" : \"東區\",\n
        \              \"types\" : \n               [\n                  \"administrative_area_level_2\",\n
        \                 \"political\"\n               ]\n            },\n            {\n
        \              \"long_name\" : \"新竹市\",\n               \"short_name\" : \"新竹市\",\n
        \              \"types\" : \n               [\n                  \"administrative_area_level_1\",\n
        \                 \"political\"\n               ]\n            },\n            {\n
        \              \"long_name\" : \"Taiwan\",\n               \"short_name\"
        : \"TW\",\n               \"types\" : \n               [\n                  \"country\",\n
        \                 \"political\"\n               ]\n            },\n            {\n
        \              \"long_name\" : \"300\",\n               \"short_name\" : \"300\",\n
        \              \"types\" : \n               [\n                  \"postal_code\"\n
        \              ]\n            }\n         ],\n         \"formatted_address\"
        : \"300, Taiwan, 新竹市東區光明里\",\n         \"geometry\" : \n         {\n            \"bounds\"
        : \n            {\n               \"northeast\" : \n               {\n                  \"lat\"
        : 24.7998215,\n                  \"lng\" : 121.0055793\n               },\n
        \              \"southwest\" : \n               {\n                  \"lat\"
        : 24.7826199,\n                  \"lng\" : 120.9778747\n               }\n
        \           },\n            \"location\" : \n            {\n               \"lat\"
        : 24.7887403,\n               \"lng\" : 120.9962356\n            },\n            \"location_type\"
        : \"APPROXIMATE\",\n            \"viewport\" : \n            {\n               \"northeast\"
        : \n               {\n                  \"lat\" : 24.7998215,\n                  \"lng\"
        : 121.0055793\n               },\n               \"southwest\" : \n               {\n
        \                 \"lat\" : 24.7826199,\n                  \"lng\" : 120.9778747\n
        \              }\n            }\n         },\n         \"place_id\" : \"ChIJXW0bawk2aDQRlSR_EpFgF9k\",\n
        \        \"types\" : \n         [\n            \"administrative_area_level_3\",\n
        \           \"political\"\n         ]\n      }\n   ],\n   \"status\" : \"OK\"\n}"
  recorded_at: Thu, 17 Oct 2024 12:37:54 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=No.%2018,%20Lane%2049,%20Zhongxiao%20Rd,%20East%20District,%20Hsinchu%20City,%20Taiwan%20300&key=<GOOGLE_TOKEN>
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Hsinchu City
    body:
      encoding: UTF-8
      string:[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=24.8022,120.9901&key&mode=walking&origins=%E5%85%89%E6%98%8E%E9%87%8C%20300,%20Hsinchu%20City,%20East%20District
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
           "destination_addresses" : [],
           "error_message" : "You must use an API key to authenticate each request to Google Maps Platform APIs. For additional information, please refer to http://g.co/dev/maps-no-account",
           "origin_addresses" : [],
           "rows" : [],
           "status" : "REQUEST_DENIED"
        }
  recorded_at: Mon, 21 Oct 2024 13:12:46 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=24.8022,120.9901&key&mode=transit&origins=%E5%85%89%E6%98%8E%E9%87%8C%20300,%20Hsinchu%20City,%20East%20District
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
           "destination_addresses" : [],
           "error_message" : "You must use an API key to authenticate each request to Google Maps Platform APIs. For additional information, please refer to http://g.co/dev/maps-no-account",
           "origin_addresses" : [],
           "rows" : [],
           "status" : "REQUEST_DENIED"
        }
  recorded_at: Mon, 21 Oct 2024 13:12:46 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=24.8022,120.9901&key&mode=bicycling&origins=%E5%85%89%E6%98%8E%E9%87%8C%20300,%20Hsinchu%20City,%20East%20District
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
           "destination_addresses" : [],
           "error_message" : "You must use an API key to authenticate each request to Google Maps Platform APIs. For additional information, please refer to http://g.co/dev/maps-no-account",
           "origin_addresses" : [],
           "rows" : [],
           "status" : "REQUEST_DENIED"
        }
  recorded_at: Mon, 21 Oct 2024 13:12:46 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=24.8022,120.9901&key&mode=driving&origins=%E5%85%89%E6%98%8E%E9%87%8C%20300,%20Hsinchu%20City,%20East%20District
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
           "destination_addresses" : [],
           "error_message" : "You must use an API key to authenticate each request to Google Maps Platform APIs. For additional information, please refer to http://g.co/dev/maps-no-account",
           "origin_addresses" : [],
           "rows" : [],
           "status" : "REQUEST_DENIED"
        }
  recorded_at: Mon, 21 Oct 2024 13:12:46 GMT
[...]
- request:
    method: get
    uri: https://plus.codes/api?address=300,%20Taiwan,%20%E6%96%B0%E7%AB%B9%E5%B8%82%E6%9D%B1%E5%8D%80%E5%85%89%E6%98%8E%E9%87%8C&key=<GOOGLE_TOKEN>
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Appengine-Log-Flush-Count:
      - '1'
      X-Cloud-Trace-Context:
      - b288e36178ef4fbac38019b337f4f5b4
    body:
      encoding: UTF-8
      string: |-
        {
          "plus_code": {
            "global_code": "7QP2QXQW+",
            "geometry": {
              "bounds": {
                "northeast": {
                  "lat": 24.789999999999992,
                  "lng": 120.9975
                },
                "southwest": {
                  "lat": 24.787499999999994,
                  "lng": 120.995
                }
              },
              "location": {
                "lat": 24.788749999999993,
                "lng": 120.99625
              }
            },
            "locality": {}
          },
          "status": "OK"
        }
  recorded_at: Sat, 02 Nov 2024 05:45:54 GMT
[...]
- request:
    method: get
    uri: https://plus.codes/api?address=No.%2018,%20Lane%2049,%20Zhongxiao%20Rd,%20East%20District,%20Hsinchu%20City,%20Taiwan%20300&key=<GOOGLE_TOKEN>
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Appengine-Log-Flush-Count:
      - '1'
      X-Cloud-Trace-Context:
      - 99ce6be5dac7770e2baa171d6f2875f8
    body:
      encoding: UTF-8
      string: |-
        {
          "plus_code": {
            "global_code": "7QP2RX2R+W2",
            "geometry": {
              "bounds": {
                "northeast": {
                  "lat": 24.802374999999998,
                  "lng": 120.99012500000003
                },
                "southwest": {
                  "lat": 24.80225,
                  "lng": 120.99000000000001
                }
              },
              "location": {
                "lat": 24.8023125,
                "lng": 120.99006250000002
              }
            },
            "local_code": "RX2R+W2",
            "locality": {
              "local_address": "Taiwan, 新竹市東區光復里"
            }
          },
          "status": "OK"
        }
  recorded_at: Sat, 02 Nov 2024 05:45:55 GMT
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=%E4%BA%A4%E9%80%9A%E5%A4%A7%E5%AD%B8&key=<GOOGLE_TOKEN>&mode=driving&origins=%E6%B8%85%E8%8F%AF%E5%A4%A7%E5%AD%B8
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n   \"destination_addresses\" : \n   [\n      \"Student Dormitory
        12, No. 1001號, Daxue Rd, East District, Hsinchu City, Taiwan 300\"\n   ],\n
        \  \"origin_addresses\" : \n   [\n      \"30 Shuang Qing Lu, 蓝旗营 Hai Dian
        Qu, Bei Jing Shi, China, 100190\"\n   ],\n   \"rows\" : \n   [\n      {\n
        \        \"elements\" : \n         [\n            {\n               \"status\"
        : \"ZERO_RESULTS\"\n            }\n         ]\n      }\n   ],\n   \"status\"
        : \"OK\"\n}"
  recorded_at: Sun, 03 Nov 2024 07:02:28 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=30%20Shuang%20Qing%20Lu,%20%E8%93%9D%E6%97%97%E8%90%A5%20Hai%20Dian%20Qu,%20Bei%20Jing%20Shi,%20China,%20100190&key=<GOOGLE_TOKEN>
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n   \"results\" : \n   [\n  [...]
- request:
    method: get
    uri: https://plus.codes/api?address=30%20Shuang%20Qing%20Lu,%20%E8%93%9D%E6%97%97%E8%90%A5%20Hai%20Dian%20Qu,%20Bei%20Jing%20Shi,%20China,%20100190&key=<GOOGLE_TOKEN>
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Appengine-Log-Flush-Count:
      - '1'
      X-Cloud-Trace-Context:
      - b6711fa464f7bfbeb65eeb968b4c6ba6
    body:
      encoding: UTF-8
      string: |-
        {
          "plus_code": {
            "global_code": "8PFRX8XG+VH",
            "geometry": {
              "bounds": {
                "northeast": {
                  "lat": 39.999750000000006,
                  "lng": 116.32650000000001
                },
                "southwest": {
                  "lat": 39.99962500000001,
                  "lng": 116.32637499999998
                }
              },
              "location": {
                "lat": 39.99968750000001,
                "lng": 116.3264375
              }
            },
            "local_code": "X8XG+VH",
            "locality": {
              "local_address": "Haidian District, Beijing, China"
            }
          },
          "status": "OK"
        }
  recorded_at: Sun, 03 Nov 2024 07:02:29 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=Student%20Dormitory%2012,%20No.%201001%E8%99%9F,%20Daxue%20Rd,%20East%20District,%20Hsinchu%20City,%20Taiwan%20300&key=<GOOGLE_TOKEN>
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Hsinchu City
    body:
      encodin[...]
- request:
    method: get
    uri: https://plus.codes/api?address=Student%20Dormitory%2012,%20No.%201001%E8%99%9F,%20Daxue%20Rd,%20East%20District,%20Hsinchu%20City,%20Taiwan%20300&key=<GOOGLE_TOKEN>
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Appengine-Log-Flush-Count:
      - '1'
      X-Cloud-Trace-Context:
      - 3cc8808fbf51dee62c1751c0359a2532
    body:
      encoding: UTF-8
      string: |-
        {
          "plus_code": {
            "global_code": "7QP2QXMW+M7",
            "geometry": {
              "bounds": {
                "northeast": {
                  "lat": 24.78425,
                  "lng": 120.99575000000004
                },
                "southwest": {
                  "lat": 24.784125000000003,
                  "lng": 120.99562500000002
                }
              },
              "location": {
                "lat": 24.7841875,
                "lng": 120.99568750000003
              }
            },
            "local_code": "QXMW+M7",
            "locality": {
              "local_address": "Taiwan, 新竹市東區光明里"
            }
          },
          "status": "OK"
        }
  recorded_at: Sun, 03 Nov 2024 07:02:30 GMT
[...]
- request:
    method: get
    uri: https://plus.codes/api?address=Student%20Dormitory%2012,%20No.%201001%E8%99%9F,%20Daxue%20Rd,%20East%20District,%20Hsinchu%20City,%20Taiwan%20300&key=<GOOGLE_TOKEN>
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Appengine-Log-Flush-Count:
      - '1'
      X-Cloud-Trace-Context:
      - c34c59627f80f01bb7da8794da5d53f7
    body:
      encoding: UTF-8
      string: |-
        {
          "plus_code": {
            "global_code": "7QP2QXMW+M7",
            "geometry": {
              "bounds": {
                "northeast": {
                  "lat": 24.78425,
                  "lng": 120.99575000000004
                },
                "southwest": {
                  "lat": 24.784125000000003,
                  "lng": 120.99562500000002
                }
              },
              "location": {
                "lat": 24.7841875,
                "lng": 120.99568750000003
              }
            },
            "local_code": "QXMW+M7",
            "locality": {
              "local_address": "Taiwan, 新竹市東區光明里"
            }
          },
          "status": "OK"
        }
  recorded_at: Sun, 03 Nov 2024 07:06:10 GMT
recorded_with: VCR 6.3.1
