---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=%E5%85%89%E6%98%8E%E9%87%8C%20300,%20Hsinchu%20City,%20East%20District&key=<GOOGLE_TOKEN>
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Hsinchu City
    body:
      encoding: UTF-8
      string: "{\n   \"results\" : \n   [\n      {\n         \"address_components\"
        : \n         [\n            {\n               \"long_name\" : \"光明里\",\n               \"short_name\"
        : \"光明里\",\n               \"types\" : \n               [\n                  \"administrative_area_level_3\",\n
        \                 \"political\"\n               ]\n            },\n            {\n
        \              \"long_name\" : \"東區\",\n               \"short_name\" : \"東區\",\n
        \              \"types\" : \n               [\n                  \"administrative_area_level_2\",\n
        \                 \"political\"\n               ]\n            },\n            {\n
        \              \"long_name\" : \"新竹市\",\n               \"short_name\" : \"新竹市\",\n
        \              \"types\" : \n               [\n                  \"administrative_area_level_1\",\n
        \                 \"political\"\n               ]\n            },\n            {\n
        \              \"long_name\" : \"Taiwan\",\n               \"short_name\"
        : \"TW\",\n               \"types\" : \n               [\n                  \"country\",\n
        \                 \"political\"\n               ]\n            },\n            {\n
        \              \"long_name\" : \"300\",\n               \"short_name\" : \"300\",\n
        \              \"types\" : \n               [\n                  \"postal_code\"\n
        \              ]\n            }\n         ],\n         \"formatted_address\"
        : \"300, Taiwan, 新竹市東區光明里\",\n         \"geometry\" : \n         {\n            \"bounds\"
        : \n            {\n               \"northeast\" : \n               {\n                  \"lat\"
        : 24.7998215,\n                  \"lng\" : 121.0055793\n               },\n
        \              \"southwest\" : \n               {\n                  \"lat\"
        : 24.7826199,\n                  \"lng\" : 120.9778747\n               }\n
        \           },\n            \"location\" : \n            {\n               \"lat\"
        : 24.7887403,\n               \"lng\" : 120.9962356\n            },\n            \"location_type\"
        : \"APPROXIMATE\",\n            \"viewport\" : \n            {\n               \"northeast\"
        : \n               {\n                  \"lat\" : 24.7998215,\n                  \"lng\"
        : 121.0055793\n               },\n               \"southwest\" : \n               {\n
        \                 \"lat\" : 24.7826199,\n                  \"lng\" : 120.9778747\n
        \              }\n            }\n         },\n         \"place_id\" : \"ChIJXW0bawk2aDQRlSR_EpFgF9k\",\n
        \        \"types\" : \n         [\n            \"administrative_area_level_3\",\n
        \           \"political\"\n         ]\n      }\n   ],\n   \"status\" : \"OK\"\n}"
  recorded_at: Sat, 12 Oct 2024 16:19:30 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=24.8022,120.9901&key=<GOOGLE_TOKEN>&mode=walking&origins=%E5%85%89%E6%98%8E%E9%87%8C%20300,%20Hsinchu%20City,%20East%20District
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Hsinchu City
    body:
      encoding: UTF-8
      string: "{\n   \"destination_addresses\" : \n   [\n      \"No. 18, Lane 49,
        Zhongxiao Rd, East District, Hsinchu City, Taiwan 300\"\n   ],\n   \"origin_addresses\"
        : \n   [\n      \"300, Taiwan, 新竹市東區光明里\"\n   ],\n   \"rows\" : \n   [\n      {\n
        \        \"elements\" : \n         [\n            {\n               \"distance\"
        : \n               {\n                  \"text\" : \"2.4 km\",\n                  \"value\"
        : 2360\n               },\n               \"duration\" : \n               {\n
        \                 \"text\" : \"31 mins\",\n                  \"value\" : 1834\n
        \              },\n               \"status\" : \"OK\"\n            }\n         ]\n
        \     }\n   ],\n   \"status\" : \"OK\"\n}"
  recorded_at: Sat, 12 Oct 2024 16:19:30 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=%E5%85%89%E6%98%8E%E9%87%8C%20300,%20Hsinchu%20City,%20East%20District&key=YOUR_TOKEN_HERE
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
           "error_message" : "The provided API key is invalid. ",
           "results" : [],
           "status" : "REQUEST_DENIED"
        }
  recorded_at: Sat, 12 Oct 2024 16:19:34 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=24.8022,120.9901&key=YOUR_TOKEN_HERE&mode=walking&origins=%E5%85%89%E6%98%8E%E9%87%8C%20300,%20Hsinchu%20City,%20East%20District
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
           "destination_addresses" : [],
           "error_message" : "The provided API key is invalid. ",
           "origin_addresses" : [],
           "rows" : [],
           "status" : "REQUEST_DENIED"
        }
  recorded_at: Sat, 12 Oct 2024 16:19:34 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=24.8022,120.9901&key=create_your_token&mode=walking&origins=%E5%85%89%E6%98%8E%E9%87%8C%20300,%20Hsinchu%20City,%20East%20District
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
           "destination_addresses" : [],
           "error_message" : "The provided API key is invalid. ",
           "origin_addresses" : [],
           "rows" : [],
           "status" : "REQUEST_DENIED"
        }
  recorded_at: Mon, 21 Oct 2024 13:12:46 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=%E5%85%89%E6%98%8E%E9%87%8C%20300,%20Hsinchu%20City,%20East%20District&key=create_your_token
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
           "error_message" : "The provided API key is invalid. ",
           "results" : [],
           "status" : "REQUEST_DENIED"
        }
  recorded_at: Mon, 21 Oct 2024 13:12:46 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=%E5%85%89%E6%98%8E%E9%87%8C%20300,%20Hsinchu%20City,%20East%20District&key=%3CGOOGLE_TOKEN%3E
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
           "error_message" : "The provided API key is invalid. ",
           "results" : [],
           "status" : "REQUEST_DENIED"
        }
  recorded_at: Mon, 21 Oct 2024 14:22:27 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=24.8022,120.9901&key=%3CGOOGLE_TOKEN%3E&mode=walking&origins=%E5%85%89%E6%98%8E%E9%87%8C%20300,%20Hsinchu%20City,%20East%20District
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
           "destination_addresses" : [],
           "error_message" : "The provided API key is invalid. ",
           "origin_addresses" : [],
           "rows" : [],
           "status" : "REQUEST_DENIED"
        }
  recorded_at: Mon, 21 Oct 2024 14:22:27 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=24.8022,120.9901&key=AizaSyCpFgIPaK4yDSM9cNvEjRJhpwlnwsF2TCI&mode=walking&origins=%E5%85%89%E6%98%8E%E9%87%8C%20300,%20Hsinchu%20City,%20East%20District
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
           "destination_addresses" : [],
           "error_message" : "The provided API key is invalid. ",
           "origin_addresses" : [],
           "rows" : [],
           "status" : "REQUEST_DENIED"
        }
  recorded_at: Sat, 26 Oct 2024 05:30:51 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=%E5%85%89%E6%98%8E%E9%87%8C%20300,%20Hsinchu%20City,%20East%20District&key=AizaSyCpFgIPaK4yDSM9cNvEjRJhpwlnwsF2TCI
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
           "error_message" : "The provided API key is invalid. ",
           "results" : [],
           "status" : "REQUEST_DENIED"
        }
  recorded_at: Sat, 26 Oct 2024 05:30:51 GMT
- request:
    method: get
    uri: https://plus.codes/api?address=%E5%85%89%E6%98%8E%E9%87%8C%20300,%20Hsinchu%20City,%20East%20District&key=<GOOGLE_TOKEN>
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Appengine-Log-Flush-Count:
      - '1'
      X-Cloud-Trace-Context:
      - '0849cf90566c02eb8df2ceae5f1d9ace'
    body:
      encoding: UTF-8
      string: |-
        {
          "plus_code": {
            "global_code": "7QP2QXQW+",
            "geometry": {
              "bounds": {
                "northeast": {
                  "lat": 24.789999999999992,
                  "lng": 120.9975
                },
                "southwest": {
                  "lat": 24.787499999999994,
                  "lng": 120.995
                }
              },
              "location": {
                "lat": 24.788749999999993,
                "lng": 120.99625
              }
            },
            "locality": {}
          },
          "status": "OK"
        }
  recorded_at: Sat, 02 Nov 2024 05:45:52 GMT
[...]
- request:
    method: get
    uri: https://plus.codes/api?address=%E5%85%89%E6%98%8E%E9%87%8C%20300,%20Hsinchu%20City,%20East%20District&key=%3CGOOGLE_TOKEN%3E
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Appengine-Log-Flush-Count:
      - '1'
      X-Cloud-Trace-Context:
      - d8cbed9fae224be2c89e87fa4c2261c3
    body:
      encoding: UTF-8
      string: |-
        {
          "error_message": "The provided API key is invalid. ",
          "status": "REQUEST_DENIED"
        }
  recorded_at: Sat, 02 Nov 2024 05:59:05 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=%E5%85%89%E6%98%8E%E9%87%8C%20300,%20Hsinchu%20City,%20East%20District&key=<GOOGLE_TOKEN>&region=tw
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Hsinchu City
    body:
      encoding: UTF-8
      string: "{\n   \"re[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=24.8022,120.9901&key=<GOOGLE_TOKEN>&mode=walking&origins=%E5%85%89%E6%98%8E%E9%87%8C%20300,%20Hsinchu%20City,%20East%20District&region=tw
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Hsinchu City
    body:
      encoding: UTF-8
      string: "{\n   \"destination_addresses\" : \n   [\n      \"No. 18, Lane 49,
        Zhongxiao Rd, East District, Hsinchu City, Taiwan 300\"\n   ],\n   \"origin_addresses\"
        : \n   [\n      \"300, Taiwan, 新竹市東區光明里\"\n   ],\n   \"rows\" : \n   [\n      {\n
        \        \"elements\" : \n         [\n            {\n               \"distance\"
        : \n               {\n                  \"text\" : \"2.2 km\",\n                  \"value\"
        : 2217\n               },\n               \"duration\" : \n               {\n
        \                 \"text\" : \"28 mins\",\n                  \"value\" : 1705\n
        \              },\n               \"status\" : \"OK\"\n            }\n         ]\n
        \     }\n   ],\n   \"status\" : \"OK\"\n}"
  recorded_at: Mon, 18 Nov 2024 11:59:46 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=%E5%85%89%E6%98%8E%E9%87%8C%20300,%20Hsinchu%20City,%20East%20District&key=%3CGOOGLE_TOKEN%3E&region=tw
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
           "error_message" : "The provided API key is invalid. ",
           "results" : [],
           "status" : "REQUEST_DENIED"
        }
  recorded_at: Mon, 18 Nov 2024 11:59:47 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=24.8022,120.9901&key=%3CGOOGLE_TOKEN%3E&mode=walking&origins=%E5%85%89%E6%98%8E%E9%87%8C%20300,%20Hsinchu%20City,%20East%20District&region=tw
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
           "destination_addresses" : [],
           "error_message" : "The provided API key is invalid. ",
           "origin_addresses" : [],
           "rows" : [],
           "status" : "REQUEST_DENIED"
        }
  recorded_at: Mon, 18 Nov 2024 11:59:47 GMT
recorded_with: VCR 6.3.1
