---
http_interactions:
- request:
    method: get
    uri: https://api.nthusa.tw/buses/stops/%E5%8C%97%E6%A0%A1%E9%96%80%E5%8F%A3/?bus_type=main&day=all&direction=up
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Process-Time:
      - '0.0036993026733398438'
    body:
      encoding: UTF-8
      string: '[{"bus_info":{"time":"7:20","description":"","route":"校園公車","dep_stop":"校門","line":"red"},"arrive_time":"07:20"},{"bus_info":{"time":"7:45","description":"","route":"校園公車","dep_stop":"校門","line":"red"},"arrive_time":"07:45"},{"bus_info":{"time":"7:50","description":"","route":"校園公車","dep_stop":"校門","line":"red"},"arrive_time":"07:50"},{"bus_info":{"time":"8:05","description":"","route":"校園公車","dep_stop":"校門","line":"red"},"arrive_time":"08:05"},{"bus_info":{"time":"8:15","description":"","route":"校園公車","dep_stop":"校門","line":"red"},"arrive_time":"08:15"},{"bus_info":{"time":"8:25","description":""[...]
